<% aliquot_colour = case plate_presenter.plate.state
                    when "passed" then "green"
                    when "started" then "orange"
                    when "failed" then "red"
                    when "canceled" then "red"
                    else "blue"
                    end
                    -%>

<div id="<%= "aliquot_#{well.location}" %>" class="aliquot <%= aliquot_colour %>">&nbsp;</div>
