<% unless presenter.plate.passed? %>
  <p>Due to a limitation of the current system you can only fail wells <strong>after</strong> passing the plate.</p>
<% else %>
  <%= form_for(:plate, :url => fail_wells_path(presenter.plate), :html => { :method => 'post' }) do |form| %>
    <%= form.fields_for(:wells) do |well_form| %>
      <%= render :partial => 'plate', :locals => { :plate_presenter => fail_wells_presenter_from(well_form, presenter) } %>
    <% end %>

    <br/>
    <p>NB. Once the "Fail Wells" button has been pressed failures can't be corrected.</p>
    <%= form.submit('Fail wells', :'data-icon' => 'delete', :'data-theme' => 'a') %>
  <% end %>
<% end %>
