<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul >
     <li><a href="summary" data-transition="none" data-icon="info">Summary</a></li>
     <li><a href="printing"  data-transition="none" data-icon="grid">Printing</a></li></li>
     <li><a href="state"  data-transition="none" data-icon="plus">State</a></li></li>
    </ul>

  </div>
</div><!-- /footer -->