<div id="quadrant-helper">
  <% 4.times do |index| %>
    <a class="btn btn-sm btn-primary"
       data-select-quadrant-index="<%= index %>"
       href='#well-failures'
    >Select Quadrant <%= index + 1 %></a>
  <% end %>
</div>
