<dl id="samples-information" class="card-body">
  <% plate_presenter.wells.each do |well| -%>
    <% next if well.aliquots.empty? %>
    <dt class="col-sm-1"><%= well.location %> <%= state_badge(well.state) %></dt>
    <dd class="col-sm-11"><ul class="list-inline">
    <% well.aliquots.each do |aliquot| -%>
      <li class="list-inline-item"><%= aliquot.sample.sanger.name %></li>
    <% end -%></ul></dd>
  <% end -%>
</dl>
