<% tag_colour = container.aliquots.first.tag.name.downcase.sub(/\s/, "-") -%>

<div id="<%= "aliquot_#{id}" %>" class="aliquot col-1 <%= tag_colour %>" rel="#details_A1">
  <%= container.aliquots.first.tag.identifier %>
</div>

