<div id="qc-thresholds-helper">
  <div data-qc-key="Molarity" class="form-group">
    <label for="qc-molarity">Molarity</label>
    <input type="range" id="qc-molarity-range" name="molarity"
          min="0" max="100" value="90" step="0.01" list="molarity-data"
          class="form-control-range mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="number" id="qc-molarity" value="90" class="form-control">
      <div class="input-group-append">
        <span class="input-group-text">nM</span>
      </div>
    </div>
    <datalist id="molarity-data">
      <option value="50.0" label="50%"></option>
    </datalist>
  </div>
</div>
