<%= jumbotron do %>
  <h1>Sorry</h1>
  <p class="lead">This plate should have been created automatically, but we ran into some problems</p>
  <p>Cannot create the next piece of labware:</p>
  <%= render partial: 'application/flash_messages' %>
<% end %>
