@import '_bootstrap';

/* Colours defined per environment */
$production: $gray-800 !default;
$training: $green !default;
$staging: $red !default;
$development: $gray-100 !default;

@mixin shade-aliquot($base_colour, $text_colour) {
  &.aliquot,
  &.pool_name {
    background-color: $base_colour;
    color: $text_colour;
  }
  .aliquot,
  .pool_name {
    fill: $base_colour;
    color: $text_colour;
  }
  &.plate-view.plate-stock .aliquot.unknown {
    fill: $base_colour;
    background-color: $base_colour;
    color: $text_colour;
  }
}

.unknown {
  @include shade-aliquot($secondary, #ffffff);
}
.pending {
  @include shade-aliquot($light, #000000);
}
.started {
  @include shade-aliquot($info, #ffffff);
}
.passed {
  @include shade-aliquot($success, #ffffff);
}
.qc_complete {
  @include shade-aliquot($primary, #ffffff);
}
.good {
  @include shade-aliquot($success, #ffffff);
} // Used on well failure page
.failed {
  @include shade-aliquot($danger, #ffffff);
}
.cancelled {
  @include shade-aliquot($danger, #ffffff);
}

/*
 * Colours from: https://stackoverflow.com/questions/33295120/how-to-generate-gif-256-colors-palette/33295456#33295456
 * calculated that each colour on the list has maximal distance from all previous colours.
 */
.pool-colours,
.binning-colours {
  .colour-1 {
    @include shade-aliquot(#ffff00, #000000);
  }
  .colour-2 {
    @include shade-aliquot(#1ce6ff, #000000);
  }
  .colour-3 {
    @include shade-aliquot(#ff34ff, #000000);
  }
  .colour-4 {
    @include shade-aliquot(#ff4a46, #000000);
  }
  .colour-5 {
    @include shade-aliquot(#008941, #000000);
  }
  .colour-6 {
    @include shade-aliquot(#006fa6, #ffffff);
  }
  .colour-7 {
    @include shade-aliquot(#a30059, #ffffff);
  }
  .colour-8 {
    @include shade-aliquot(#ffdbe5, #000000);
  }
  .colour-9 {
    @include shade-aliquot(#7a4900, #ffffff);
  }
  .colour-10 {
    @include shade-aliquot(#0000a6, #ffffff);
  }
  .colour-11 {
    @include shade-aliquot(#63ffac, #000000);
  }
  .colour-12 {
    @include shade-aliquot(#b79762, #000000);
  }
  .colour-13 {
    @include shade-aliquot(#004d43, #ffffff);
  }
  .colour-14 {
    @include shade-aliquot(#8fb0ff, #000000);
  }
  .colour-15 {
    @include shade-aliquot(#997d87, #000000);
  }
  .colour-16 {
    @include shade-aliquot(#5a0007, #ffffff);
  }
  .colour-17 {
    @include shade-aliquot(#809693, #000000);
  }
  .colour-18 {
    @include shade-aliquot(#feffe6, #000000);
  }
  .colour-19 {
    @include shade-aliquot(#1b4400, #ffffff);
  }
  .colour-20 {
    @include shade-aliquot(#4fc601, #000000);
  }
  .colour-21 {
    @include shade-aliquot(#3b5dff, #ffffff);
  }
  .colour-22 {
    @include shade-aliquot(#4a3b53, #ffffff);
  }
  .colour-23 {
    @include shade-aliquot(#ff2f80, #000000);
  }
  .colour-24 {
    @include shade-aliquot(#61615a, #ffffff);
  }
  .colour-25 {
    @include shade-aliquot(#ba0900, #ffffff);
  }
  .colour-26 {
    @include shade-aliquot(#6b7900, #ffffff);
  }
  .colour-27 {
    @include shade-aliquot(#00c2a0, #000000);
  }
  .colour-28 {
    @include shade-aliquot(#ffaa92, #000000);
  }
  .colour-29 {
    @include shade-aliquot(#ff90c9, #000000);
  }
  .colour-30 {
    @include shade-aliquot(#b903aa, #ffffff);
  }
  .colour-31 {
    @include shade-aliquot(#d16100, #000000);
  }
  .colour-32 {
    @include shade-aliquot(#ddefff, #000000);
  }
  .colour-33 {
    @include shade-aliquot(#000035, #ffffff);
  }
  .colour-34 {
    @include shade-aliquot(#7b4f4b, #ffffff);
  }
  .colour-35 {
    @include shade-aliquot(#a1c299, #000000);
  }
  .colour-36 {
    @include shade-aliquot(#300018, #ffffff);
  }
  .colour-37 {
    @include shade-aliquot(#0aa6d8, #000000);
  }
  .colour-38 {
    @include shade-aliquot(#013349, #ffffff);
  }
  .colour-39 {
    @include shade-aliquot(#00846f, #ffffff);
  }
  .colour-40 {
    @include shade-aliquot(#372101, #ffffff);
  }
  .colour-41 {
    @include shade-aliquot(#ffb500, #000000);
  }
  .colour-42 {
    @include shade-aliquot(#c2ffed, #000000);
  }
  .colour-43 {
    @include shade-aliquot(#a079bf, #000000);
  }
  .colour-44 {
    @include shade-aliquot(#cc0744, #ffffff);
  }
  .colour-45 {
    @include shade-aliquot(#c0b9b2, #000000);
  }
  .colour-46 {
    @include shade-aliquot(#c2ff99, #000000);
  }
  .colour-47 {
    @include shade-aliquot(#001e09, #ffffff);
  }
  .colour-48 {
    @include shade-aliquot(#00489c, #ffffff);
  }
  .colour-49 {
    @include shade-aliquot(#6f0062, #ffffff);
  }
  .colour-50 {
    @include shade-aliquot(#0cbd66, #000000);
  }
  .colour-51 {
    @include shade-aliquot(#eec3ff, #000000);
  }
  .colour-52 {
    @include shade-aliquot(#456d75, #ffffff);
  }
  .colour-53 {
    @include shade-aliquot(#b77b68, #000000);
  }
  .colour-54 {
    @include shade-aliquot(#7a87a1, #000000);
  }
  .colour-55 {
    @include shade-aliquot(#788d66, #000000);
  }
  .colour-56 {
    @include shade-aliquot(#885578, #ffffff);
  }
  .colour-57 {
    @include shade-aliquot(#fad09f, #000000);
  }
  .colour-58 {
    @include shade-aliquot(#ff8a9a, #000000);
  }
  .colour-59 {
    @include shade-aliquot(#d157a0, #000000);
  }
  .colour-60 {
    @include shade-aliquot(#bec459, #000000);
  }
  .colour-61 {
    @include shade-aliquot(#456648, #ffffff);
  }
  .colour-62 {
    @include shade-aliquot(#0086ed, #000000);
  }
  .colour-63 {
    @include shade-aliquot(#886f4c, #ffffff);
  }
  .colour-64 {
    @include shade-aliquot(#34362d, #ffffff);
  }
  .colour-65 {
    @include shade-aliquot(#b4a8bd, #000000);
  }
  .colour-66 {
    @include shade-aliquot(#00a6aa, #000000);
  }
  .colour-67 {
    @include shade-aliquot(#452c2c, #ffffff);
  }
  .colour-68 {
    @include shade-aliquot(#636375, #ffffff);
  }
  .colour-69 {
    @include shade-aliquot(#a3c8c9, #000000);
  }
  .colour-70 {
    @include shade-aliquot(#ff913f, #000000);
  }
  .colour-71 {
    @include shade-aliquot(#938a81, #000000);
  }
  .colour-72 {
    @include shade-aliquot(#575329, #ffffff);
  }
  .colour-73 {
    @include shade-aliquot(#00fecf, #000000);
  }
  .colour-74 {
    @include shade-aliquot(#b05b6f, #ffffff);
  }
  .colour-75 {
    @include shade-aliquot(#8cd0ff, #000000);
  }
  .colour-76 {
    @include shade-aliquot(#3b9700, #000000);
  }
  .colour-77 {
    @include shade-aliquot(#04f757, #000000);
  }
  .colour-78 {
    @include shade-aliquot(#c8a1a1, #000000);
  }
  .colour-79 {
    @include shade-aliquot(#1e6e00, #ffffff);
  }
  .colour-80 {
    @include shade-aliquot(#7900d7, #ffffff);
  }
  .colour-81 {
    @include shade-aliquot(#a77500, #000000);
  }
  .colour-82 {
    @include shade-aliquot(#6367a9, #ffffff);
  }
  .colour-83 {
    @include shade-aliquot(#a05837, #ffffff);
  }
  .colour-84 {
    @include shade-aliquot(#6b002c, #ffffff);
  }
  .colour-85 {
    @include shade-aliquot(#772600, #ffffff);
  }
  .colour-86 {
    @include shade-aliquot(#d790ff, #000000);
  }
  .colour-87 {
    @include shade-aliquot(#9b9700, #000000);
  }
  .colour-88 {
    @include shade-aliquot(#549e79, #000000);
  }
  .colour-89 {
    @include shade-aliquot(#fff69f, #000000);
  }
  .colour-90 {
    @include shade-aliquot(#201625, #ffffff);
  }
  .colour-91 {
    @include shade-aliquot(#72418f, #ffffff);
  }
  .colour-92 {
    @include shade-aliquot(#bc23ff, #000000);
  }
  .colour-93 {
    @include shade-aliquot(#99adc0, #000000);
  }
  .colour-94 {
    @include shade-aliquot(#3a2465, #ffffff);
  }
  .colour-95 {
    @include shade-aliquot(#922329, #ffffff);
  }
  .colour-96 {
    @include shade-aliquot(#5b4534, #ffffff);
  }
  .colour-97 {
    @include shade-aliquot(#fde8dc, #000000);
  }
  .colour-98 {
    @include shade-aliquot(#404e55, #ffffff);
  }
  .colour-99 {
    @include shade-aliquot(#0089a3, #000000);
  }
  .colour-100 {
    @include shade-aliquot(#cb7e98, #000000);
  }
  .colour-101 {
    @include shade-aliquot(#a4e804, #000000);
  }
  .colour-102 {
    @include shade-aliquot(#324e72, #ffffff);
  }
  .colour-103 {
    @include shade-aliquot(#6a3a4c, #ffffff);
  }
  .colour-104 {
    @include shade-aliquot(#83ab58, #000000);
  }
  .colour-105 {
    @include shade-aliquot(#001c1e, #ffffff);
  }
  .colour-106 {
    @include shade-aliquot(#d1f7ce, #000000);
  }
  .colour-107 {
    @include shade-aliquot(#004b28, #ffffff);
  }
  .colour-108 {
    @include shade-aliquot(#c8d0f6, #000000);
  }
  .colour-109 {
    @include shade-aliquot(#a3a489, #000000);
  }
  .colour-110 {
    @include shade-aliquot(#806c66, #ffffff);
  }
  .colour-111 {
    @include shade-aliquot(#222800, #ffffff);
  }
  .colour-112 {
    @include shade-aliquot(#bf5650, #000000);
  }
  .colour-113 {
    @include shade-aliquot(#e83000, #000000);
  }
  .colour-114 {
    @include shade-aliquot(#66796d, #ffffff);
  }
  .colour-115 {
    @include shade-aliquot(#da007c, #ffffff);
  }
  .colour-116 {
    @include shade-aliquot(#ff1a59, #000000);
  }
  .colour-117 {
    @include shade-aliquot(#8adbb4, #000000);
  }
  .colour-118 {
    @include shade-aliquot(#1e0200, #ffffff);
  }
  .colour-119 {
    @include shade-aliquot(#5b4e51, #ffffff);
  }
  .colour-120 {
    @include shade-aliquot(#c895c5, #000000);
  }
  .colour-121 {
    @include shade-aliquot(#320033, #ffffff);
  }
  .colour-122 {
    @include shade-aliquot(#ff6832, #000000);
  }
  .colour-123 {
    @include shade-aliquot(#66e1d3, #000000);
  }
  .colour-124 {
    @include shade-aliquot(#cfcdac, #000000);
  }
  .colour-125 {
    @include shade-aliquot(#d0ac94, #000000);
  }
  .colour-126 {
    @include shade-aliquot(#7ed379, #000000);
  }
  .colour-127 {
    @include shade-aliquot(#012c58, #ffffff);
  }
  .colour-128 {
    @include shade-aliquot(#7a7bff, #000000);
  }
  .colour-129 {
    @include shade-aliquot(#d68e01, #000000);
  }
  .colour-130 {
    @include shade-aliquot(#353339, #ffffff);
  }
  .colour-131 {
    @include shade-aliquot(#78afa1, #000000);
  }
  .colour-132 {
    @include shade-aliquot(#feb2c6, #000000);
  }
  .colour-133 {
    @include shade-aliquot(#75797c, #000000);
  }
  .colour-134 {
    @include shade-aliquot(#837393, #000000);
  }
  .colour-135 {
    @include shade-aliquot(#943a4d, #ffffff);
  }
  .colour-136 {
    @include shade-aliquot(#b5f4ff, #000000);
  }
  .colour-137 {
    @include shade-aliquot(#d2dcd5, #000000);
  }
  .colour-138 {
    @include shade-aliquot(#9556bd, #ffffff);
  }
  .colour-139 {
    @include shade-aliquot(#6a714a, #ffffff);
  }
  .colour-140 {
    @include shade-aliquot(#001325, #ffffff);
  }
  .colour-141 {
    @include shade-aliquot(#02525f, #ffffff);
  }
  .colour-142 {
    @include shade-aliquot(#0aa3f7, #000000);
  }
  .colour-143 {
    @include shade-aliquot(#e98176, #000000);
  }
  .colour-144 {
    @include shade-aliquot(#dbd5dd, #000000);
  }
  .colour-145 {
    @include shade-aliquot(#5ebcd1, #000000);
  }
  .colour-146 {
    @include shade-aliquot(#3d4f44, #ffffff);
  }
  .colour-147 {
    @include shade-aliquot(#7e6405, #ffffff);
  }
  .colour-148 {
    @include shade-aliquot(#02684e, #ffffff);
  }
  .colour-149 {
    @include shade-aliquot(#962b75, #ffffff);
  }
  .colour-150 {
    @include shade-aliquot(#8d8546, #000000);
  }
  .colour-151 {
    @include shade-aliquot(#9695c5, #000000);
  }
  .colour-152 {
    @include shade-aliquot(#e773ce, #000000);
  }
  .colour-153 {
    @include shade-aliquot(#d86a78, #000000);
  }
  .colour-154 {
    @include shade-aliquot(#3e89be, #000000);
  }
  .colour-155 {
    @include shade-aliquot(#ca834e, #000000);
  }
  .colour-156 {
    @include shade-aliquot(#518a87, #000000);
  }
  .colour-157 {
    @include shade-aliquot(#5b113c, #ffffff);
  }
  .colour-158 {
    @include shade-aliquot(#55813b, #000000);
  }
  .colour-159 {
    @include shade-aliquot(#e704c4, #000000);
  }
  .colour-160 {
    @include shade-aliquot(#00005f, #ffffff);
  }
  .colour-161 {
    @include shade-aliquot(#a97399, #000000);
  }
  .colour-162 {
    @include shade-aliquot(#4b8160, #000000);
  }
  .colour-163 {
    @include shade-aliquot(#59738a, #ffffff);
  }
  .colour-164 {
    @include shade-aliquot(#ff5da7, #000000);
  }
  .colour-165 {
    @include shade-aliquot(#f7c9bf, #000000);
  }
  .colour-166 {
    @include shade-aliquot(#643127, #ffffff);
  }
  .colour-167 {
    @include shade-aliquot(#513a01, #ffffff);
  }
  .colour-168 {
    @include shade-aliquot(#6b94aa, #000000);
  }
  .colour-169 {
    @include shade-aliquot(#51a058, #000000);
  }
  .colour-170 {
    @include shade-aliquot(#a45b02, #ffffff);
  }
  .colour-171 {
    @include shade-aliquot(#1d1702, #ffffff);
  }
  .colour-172 {
    @include shade-aliquot(#e20027, #ffffff);
  }
  .colour-173 {
    @include shade-aliquot(#e7ab63, #000000);
  }
  .colour-174 {
    @include shade-aliquot(#4c6001, #ffffff);
  }
  .colour-175 {
    @include shade-aliquot(#9c6966, #000000);
  }
  .colour-176 {
    @include shade-aliquot(#64547b, #ffffff);
  }
  .colour-177 {
    @include shade-aliquot(#97979e, #000000);
  }
  .colour-178 {
    @include shade-aliquot(#006a66, #ffffff);
  }
  .colour-179 {
    @include shade-aliquot(#391406, #ffffff);
  }
  .colour-180 {
    @include shade-aliquot(#f4d749, #000000);
  }
  .colour-181 {
    @include shade-aliquot(#0045d2, #ffffff);
  }
  .colour-182 {
    @include shade-aliquot(#006c31, #ffffff);
  }
  .colour-183 {
    @include shade-aliquot(#ddb6d0, #000000);
  }
  .colour-184 {
    @include shade-aliquot(#7c6571, #ffffff);
  }
  .colour-185 {
    @include shade-aliquot(#9fb2a4, #000000);
  }
  .colour-186 {
    @include shade-aliquot(#00d891, #000000);
  }
  .colour-187 {
    @include shade-aliquot(#15a08a, #000000);
  }
  .colour-188 {
    @include shade-aliquot(#bc65e9, #000000);
  }
  .colour-189 {
    @include shade-aliquot(#fffffe, #000000);
  }
  .colour-190 {
    @include shade-aliquot(#c6dc99, #000000);
  }
  .colour-191 {
    @include shade-aliquot(#203b3c, #ffffff);
  }
  .colour-192 {
    @include shade-aliquot(#671190, #ffffff);
  }
  .colour-193 {
    @include shade-aliquot(#6b3a64, #ffffff);
  }
  .colour-194 {
    @include shade-aliquot(#f5e1ff, #000000);
  }
  .colour-195 {
    @include shade-aliquot(#ffa0f2, #000000);
  }
  .colour-196 {
    @include shade-aliquot(#ccaa35, #000000);
  }
  .colour-197 {
    @include shade-aliquot(#374527, #ffffff);
  }
  .colour-198 {
    @include shade-aliquot(#8bb400, #000000);
  }
  .colour-199 {
    @include shade-aliquot(#797868, #000000);
  }
  .colour-200 {
    @include shade-aliquot(#c6005a, #ffffff);
  }
  .colour-201 {
    @include shade-aliquot(#3b000a, #ffffff);
  }
  .colour-202 {
    @include shade-aliquot(#c86240, #000000);
  }
  .colour-203 {
    @include shade-aliquot(#29607c, #ffffff);
  }
  .colour-204 {
    @include shade-aliquot(#402334, #ffffff);
  }
  .colour-205 {
    @include shade-aliquot(#7d5a44, #ffffff);
  }
  .colour-206 {
    @include shade-aliquot(#ccb87c, #000000);
  }
  .colour-207 {
    @include shade-aliquot(#b88183, #000000);
  }
  .colour-208 {
    @include shade-aliquot(#aa5199, #ffffff);
  }
  .colour-209 {
    @include shade-aliquot(#b5d6c3, #000000);
  }
  .colour-210 {
    @include shade-aliquot(#a38469, #000000);
  }
  .colour-211 {
    @include shade-aliquot(#9f94f0, #000000);
  }
  .colour-212 {
    @include shade-aliquot(#a74571, #ffffff);
  }
  .colour-213 {
    @include shade-aliquot(#b894a6, #000000);
  }
  .colour-214 {
    @include shade-aliquot(#71bb8c, #000000);
  }
  .colour-215 {
    @include shade-aliquot(#00b433, #000000);
  }
  .colour-216 {
    @include shade-aliquot(#789ec9, #000000);
  }
  .colour-217 {
    @include shade-aliquot(#6d80ba, #000000);
  }
  .colour-218 {
    @include shade-aliquot(#953f00, #ffffff);
  }
  .colour-219 {
    @include shade-aliquot(#5eff03, #000000);
  }
  .colour-220 {
    @include shade-aliquot(#e4fffc, #000000);
  }
  .colour-221 {
    @include shade-aliquot(#1be177, #000000);
  }
  .colour-222 {
    @include shade-aliquot(#bcb1e5, #000000);
  }
  .colour-223 {
    @include shade-aliquot(#76912f, #000000);
  }
  .colour-224 {
    @include shade-aliquot(#003109, #ffffff);
  }
  .colour-225 {
    @include shade-aliquot(#0060cd, #ffffff);
  }
  .colour-226 {
    @include shade-aliquot(#d20096, #ffffff);
  }
  .colour-227 {
    @include shade-aliquot(#895563, #ffffff);
  }
  .colour-228 {
    @include shade-aliquot(#29201d, #ffffff);
  }
  .colour-229 {
    @include shade-aliquot(#5b3213, #ffffff);
  }
  .colour-230 {
    @include shade-aliquot(#a76f42, #000000);
  }
  .colour-231 {
    @include shade-aliquot(#89412e, #ffffff);
  }
  .colour-232 {
    @include shade-aliquot(#1a3a2a, #ffffff);
  }
  .colour-233 {
    @include shade-aliquot(#494b5a, #ffffff);
  }
  .colour-234 {
    @include shade-aliquot(#a88c85, #000000);
  }
  .colour-235 {
    @include shade-aliquot(#f4abaa, #000000);
  }
  .colour-236 {
    @include shade-aliquot(#a3f3ab, #000000);
  }
  .colour-237 {
    @include shade-aliquot(#00c6c8, #000000);
  }
  .colour-238 {
    @include shade-aliquot(#ea8b66, #000000);
  }
  .colour-239 {
    @include shade-aliquot(#958a9f, #000000);
  }
  .colour-240 {
    @include shade-aliquot(#bdc9d2, #000000);
  }
  .colour-241 {
    @include shade-aliquot(#9fa064, #000000);
  }
  .colour-242 {
    @include shade-aliquot(#be4700, #ffffff);
  }
  .colour-243 {
    @include shade-aliquot(#658188, #000000);
  }
  .colour-244 {
    @include shade-aliquot(#83a485, #000000);
  }
  .colour-245 {
    @include shade-aliquot(#453c23, #ffffff);
  }
  .colour-246 {
    @include shade-aliquot(#47675d, #ffffff);
  }
  .colour-247 {
    @include shade-aliquot(#3a3f00, #ffffff);
  }
  .colour-248 {
    @include shade-aliquot(#061203, #ffffff);
  }
  .colour-249 {
    @include shade-aliquot(#dffb71, #000000);
  }
  .colour-250 {
    @include shade-aliquot(#868e7e, #000000);
  }
  .colour-251 {
    @include shade-aliquot(#98d058, #000000);
  }
  .colour-252 {
    @include shade-aliquot(#6c8f7d, #000000);
  }
  .colour-253 {
    @include shade-aliquot(#d7bfc2, #000000);
  }
  .colour-254 {
    @include shade-aliquot(#3c3e6e, #ffffff);
  }
  .colour-255 {
    @include shade-aliquot(#d83d66, #000000);
  }
  .colour-256 {
    @include shade-aliquot(#2f5d9b, #ffffff);
  }
  .colour-257 {
    @include shade-aliquot(#6c5e46, #ffffff);
  }
  .colour-258 {
    @include shade-aliquot(#d25b88, #000000);
  }
  .colour-259 {
    @include shade-aliquot(#5b656c, #ffffff);
  }
  .colour-260 {
    @include shade-aliquot(#00b57f, #000000);
  }
  .colour-261 {
    @include shade-aliquot(#545c46, #ffffff);
  }
  .colour-262 {
    @include shade-aliquot(#866097, #ffffff);
  }
  .colour-263 {
    @include shade-aliquot(#365d25, #ffffff);
  }
  .colour-264 {
    @include shade-aliquot(#252f99, #ffffff);
  }
  .colour-265 {
    @include shade-aliquot(#00ccff, #000000);
  }
  .colour-266 {
    @include shade-aliquot(#674e60, #ffffff);
  }
  .colour-267 {
    @include shade-aliquot(#fc009c, #000000);
  }
  .colour-268 {
    @include shade-aliquot(#92896b, #000000);
  }
  .colour-269 {
    @include shade-aliquot(#1e2324, #ffffff);
  }
  .colour-270 {
    @include shade-aliquot(#dec9b2, #000000);
  }
  .colour-271 {
    @include shade-aliquot(#9d4948, #ffffff);
  }
  .colour-272 {
    @include shade-aliquot(#85abb4, #000000);
  }
  .colour-273 {
    @include shade-aliquot(#342142, #ffffff);
  }
  .colour-274 {
    @include shade-aliquot(#d09685, #000000);
  }
  .colour-275 {
    @include shade-aliquot(#a4acac, #000000);
  }
  .colour-276 {
    @include shade-aliquot(#00ffff, #000000);
  }
  .colour-277 {
    @include shade-aliquot(#ae9c86, #000000);
  }
  .colour-278 {
    @include shade-aliquot(#742a33, #ffffff);
  }
  .colour-279 {
    @include shade-aliquot(#0e72c5, #ffffff);
  }
  .colour-280 {
    @include shade-aliquot(#afd8ec, #000000);
  }
  .colour-281 {
    @include shade-aliquot(#c064b9, #000000);
  }
  .colour-282 {
    @include shade-aliquot(#91028c, #ffffff);
  }
  .colour-283 {
    @include shade-aliquot(#feedbf, #000000);
  }
  .colour-284 {
    @include shade-aliquot(#ffb789, #000000);
  }
  .colour-285 {
    @include shade-aliquot(#9cb8e4, #000000);
  }
  .colour-286 {
    @include shade-aliquot(#afffd1, #000000);
  }
  .colour-287 {
    @include shade-aliquot(#2a364c, #ffffff);
  }
  .colour-288 {
    @include shade-aliquot(#4f4a43, #ffffff);
  }
  .colour-289 {
    @include shade-aliquot(#647095, #ffffff);
  }
  .colour-290 {
    @include shade-aliquot(#34bbff, #000000);
  }
  .colour-291 {
    @include shade-aliquot(#807781, #000000);
  }
  .colour-292 {
    @include shade-aliquot(#920003, #ffffff);
  }
  .colour-293 {
    @include shade-aliquot(#b3a5a7, #000000);
  }
  .colour-294 {
    @include shade-aliquot(#018615, #ffffff);
  }
  .colour-295 {
    @include shade-aliquot(#f1ffc8, #000000);
  }
  .colour-296 {
    @include shade-aliquot(#976f5c, #000000);
  }
  .colour-297 {
    @include shade-aliquot(#ff3bc1, #000000);
  }
  .colour-298 {
    @include shade-aliquot(#ff5f6b, #000000);
  }
  .colour-299 {
    @include shade-aliquot(#077d84, #ffffff);
  }
  .colour-300 {
    @include shade-aliquot(#f56d93, #000000);
  }
  .colour-301 {
    @include shade-aliquot(#5771da, #000000);
  }
  .colour-302 {
    @include shade-aliquot(#4e1e2a, #ffffff);
  }
  .colour-303 {
    @include shade-aliquot(#830055, #ffffff);
  }
  .colour-304 {
    @include shade-aliquot(#02d346, #000000);
  }
  .colour-305 {
    @include shade-aliquot(#be452d, #ffffff);
  }
  .colour-306 {
    @include shade-aliquot(#00905e, #000000);
  }
  .colour-307 {
    @include shade-aliquot(#be0028, #ffffff);
  }
  .colour-308 {
    @include shade-aliquot(#6e96e3, #000000);
  }
  .colour-309 {
    @include shade-aliquot(#007699, #ffffff);
  }
  .colour-310 {
    @include shade-aliquot(#fec96d, #000000);
  }
  .colour-311 {
    @include shade-aliquot(#9c6a7d, #000000);
  }
  .colour-312 {
    @include shade-aliquot(#3fa1b8, #000000);
  }
  .colour-313 {
    @include shade-aliquot(#893de3, #ffffff);
  }
  .colour-314 {
    @include shade-aliquot(#79b4d6, #000000);
  }
  .colour-315 {
    @include shade-aliquot(#7fd4d9, #000000);
  }
  .colour-316 {
    @include shade-aliquot(#6751bb, #ffffff);
  }
  .colour-317 {
    @include shade-aliquot(#b28d2d, #000000);
  }
  .colour-318 {
    @include shade-aliquot(#e27a05, #000000);
  }
  .colour-319 {
    @include shade-aliquot(#dd9cb8, #000000);
  }
  .colour-320 {
    @include shade-aliquot(#aabc7a, #000000);
  }
  .colour-321 {
    @include shade-aliquot(#980034, #ffffff);
  }
  .colour-322 {
    @include shade-aliquot(#561a02, #ffffff);
  }
  .colour-323 {
    @include shade-aliquot(#8f7f00, #000000);
  }
  .colour-324 {
    @include shade-aliquot(#635000, #ffffff);
  }
  .colour-325 {
    @include shade-aliquot(#cd7dae, #000000);
  }
  .colour-326 {
    @include shade-aliquot(#8a5e2d, #ffffff);
  }
  .colour-327 {
    @include shade-aliquot(#ffb3e1, #000000);
  }
  .colour-328 {
    @include shade-aliquot(#6b6466, #ffffff);
  }
  .colour-329 {
    @include shade-aliquot(#c6d300, #000000);
  }
  .colour-330 {
    @include shade-aliquot(#0100e2, #ffffff);
  }
  .colour-331 {
    @include shade-aliquot(#88ec69, #000000);
  }
  .colour-332 {
    @include shade-aliquot(#8fccbe, #000000);
  }
  .colour-333 {
    @include shade-aliquot(#21001c, #ffffff);
  }
  .colour-334 {
    @include shade-aliquot(#511f4d, #ffffff);
  }
  .colour-335 {
    @include shade-aliquot(#e3f6e3, #000000);
  }
  .colour-336 {
    @include shade-aliquot(#ff8eb1, #000000);
  }
  .colour-337 {
    @include shade-aliquot(#6b4f29, #ffffff);
  }
  .colour-338 {
    @include shade-aliquot(#a37f46, #000000);
  }
  .colour-339 {
    @include shade-aliquot(#6a5950, #ffffff);
  }
  .colour-340 {
    @include shade-aliquot(#1f2a1a, #ffffff);
  }
  .colour-341 {
    @include shade-aliquot(#04784d, #ffffff);
  }
  .colour-342 {
    @include shade-aliquot(#101835, #ffffff);
  }
  .colour-343 {
    @include shade-aliquot(#e6e0d0, #000000);
  }
  .colour-344 {
    @include shade-aliquot(#ff74fe, #000000);
  }
  .colour-345 {
    @include shade-aliquot(#00a45f, #000000);
  }
  .colour-346 {
    @include shade-aliquot(#8f5df8, #000000);
  }
  .colour-347 {
    @include shade-aliquot(#4b0059, #ffffff);
  }
  .colour-348 {
    @include shade-aliquot(#412f23, #ffffff);
  }
  .colour-349 {
    @include shade-aliquot(#d8939e, #000000);
  }
  .colour-350 {
    @include shade-aliquot(#db9d72, #000000);
  }
  .colour-351 {
    @include shade-aliquot(#604143, #ffffff);
  }
  .colour-352 {
    @include shade-aliquot(#b5bace, #000000);
  }
  .colour-353 {
    @include shade-aliquot(#989eb7, #000000);
  }
  .colour-354 {
    @include shade-aliquot(#d2c4db, #000000);
  }
  .colour-355 {
    @include shade-aliquot(#a587af, #000000);
  }
  .colour-356 {
    @include shade-aliquot(#77d796, #000000);
  }
  .colour-357 {
    @include shade-aliquot(#7f8c94, #000000);
  }
  .colour-358 {
    @include shade-aliquot(#ff9b03, #000000);
  }
  .colour-359 {
    @include shade-aliquot(#555196, #ffffff);
  }
  .colour-360 {
    @include shade-aliquot(#31ddae, #000000);
  }
  .colour-361 {
    @include shade-aliquot(#74b671, #000000);
  }
  .colour-362 {
    @include shade-aliquot(#802647, #ffffff);
  }
  .colour-363 {
    @include shade-aliquot(#2a373f, #ffffff);
  }
  .colour-364 {
    @include shade-aliquot(#014a68, #ffffff);
  }
  .colour-365 {
    @include shade-aliquot(#696628, #ffffff);
  }
  .colour-366 {
    @include shade-aliquot(#4c7b6d, #ffffff);
  }
  .colour-367 {
    @include shade-aliquot(#002c27, #ffffff);
  }
  .colour-368 {
    @include shade-aliquot(#7a4522, #ffffff);
  }
  .colour-369 {
    @include shade-aliquot(#3b5859, #ffffff);
  }
  .colour-370 {
    @include shade-aliquot(#e5d381, #000000);
  }
  .colour-371 {
    @include shade-aliquot(#fff3ff, #000000);
  }
  .colour-372 {
    @include shade-aliquot(#679fa0, #000000);
  }
  .colour-373 {
    @include shade-aliquot(#261300, #ffffff);
  }
  .colour-374 {
    @include shade-aliquot(#2c5742, #ffffff);
  }
  .colour-375 {
    @include shade-aliquot(#9131af, #ffffff);
  }
  .colour-376 {
    @include shade-aliquot(#af5d88, #000000);
  }
  .colour-377 {
    @include shade-aliquot(#c7706a, #000000);
  }
  .colour-378 {
    @include shade-aliquot(#61ab1f, #000000);
  }
  .colour-379 {
    @include shade-aliquot(#8cf2d4, #000000);
  }
  .colour-380 {
    @include shade-aliquot(#c5d9b8, #000000);
  }
  .colour-381 {
    @include shade-aliquot(#9ffffb, #000000);
  }
  .colour-382 {
    @include shade-aliquot(#bf45cc, #000000);
  }
  .colour-383 {
    @include shade-aliquot(#493941, #ffffff);
  }
  .colour-384 {
    @include shade-aliquot(#863b60, #ffffff);
  }
}

.destination-plate,
.source-plate,
.plate-baited {
  @extend .pool-colours;
}
