@import '_bootstrap';
@import 'icons';

#filter-bar {
  @extend .card;
  @extend .bg-dark;
  @extend .rounded-0;

  #filter {
    width: 100%;
    @extend .bg-dark;
    @extend .text-light;
    @extend .form-control;
    @extend .form-control-lg;
    @extend .border-0;

    // add search icon
    @extend .icon-search-light;
    background-position-x: 8px;
    padding-left: 2.6rem;
    height: unset;
  }
}

@function calculate-graph-height() {
  /* 73px of header, 50px of filter, and 50px of footer */
  $graphHeight: calc(100vh - (73px + 50px + 50px));
  @return $graphHeight;
}

#pipeline-graph {
  position: relative;
  width: 100%;
  height: calculate-graph-height();

  #graph {
    width: 100%;
    height: calculate-graph-height();
    display: block;
    @extend .bg-dark;
    @extend .text-light;
  }

  #key {
    position: absolute;
    top: 10px;
    right: 10px;
    @extend .bg-dark;
    @extend .text-light;
    @extend .small;

    header {
      @extend .d-flex;
      @extend .card-header;

      #pipelines-key-text {
        @extend .flex-grow-1;
        @extend .fw-bold;
        @extend .me-1;
      }

      #show-pipeline-groups {
        @extend .icon-pipeline_stack-light;
        @extend .me-1;
      }
      #show-pipeline-groups:hover {
        @extend .icon-pipeline_single-light;
        @extend .text-light, :hover;
      }

      #show-pipelines {
        @extend .icon-pipeline_single-light;
        @extend .me-1;
      }
      #show-pipelines:hover {
        @extend .icon-pipeline_stack-light;
        @extend .text-light, :hover;
      }

      #pipelines-back {
        @extend .icon-arrowleft-light;
        @extend .ms-1;
        height: 1.5em;
        width: 1.5em;
        background-size: 1.5em;
        vertical-align: text-bottom;
      }
      #pipelines-back:hover {
        @extend .text-light, :hover;
      }
    }
    ul {
      @extend .list-group;
      @extend .list-group-flush;
      max-height: 50vh;
      overflow-y: auto;

      li {
        @extend .list-group-item;
        @extend .bg-dark;
        @extend .text-light;
      }
      li:hover {
        @extend .text-light, :hover;
      }
    }
  }
}

.graph-tooltip {
  @extend .tooltip;
  @extend .show;
  font-size: 0.8em;
  pointer-events: none; // prevent tooltip from blocking mouse events

  .graph-tooltip-inner {
    @extend .tooltip-inner;
    @extend .rounded;
    @extend .text-start;

    ul {
      @extend .mb-0;
      padding-left: 1em;
    }
  }
}
