@import 'labware-mixins';

.plate-view {
  @include labware-view;
  @include labware-grid-view;
  @extend .mx-auto;

  background-color: $gray-600;

  th {
    color: $gray-100;
  }

  .pool-id {
    display: none;
  }
  &.pool-colours {
    .pool-id {
      display: inline;
    }
  }

  .control-type {
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
  }
  &.pool-colours {
    .control-type {
      display: none;
    }
  }

  .well {
    background: $gray-200;

    .aliquot {
      border-radius: 7px;
    }
  }
}

.plate-view.plate-384 {
  @include labware-grid-view-384;
}

.selected-aliquot {
  border: 2px $gray-100 solid;
  position: relative;
}

.plate-view.source-plate caption {
  caption-side: top;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

.plate-view.source-plate caption .caption-separator {
  display: inline-block;
  width: 2rem; /* space between barcode & input barcode */
}

.plate-view.source-plate caption .barcode-label {
  font-weight: 700;
}

.plate-view.source-plate caption .barcode-value {
  font-weight: 300;
  opacity: 0.85;
  margin-left: 0.25rem;
}
