{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%"
      },
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }]
  ],

  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}
