{
  "presets": [
    [
      "@babel/preset-env",{
      "modules": false,
      "targets": {
        // Latest versions that run on WindowsXP
        "chrome": 49,
        "firefox": 52,
        "browsers": "> 1%"
      },
      "shippedProposals": true,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }]
  ],

  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}
