.DS_Store
.gitignore
.nvmrc
.release-version
.ruby-version
.vscode
docker-compose*.yml
Dockerfile
lefthook.yml
LICENSE
README.md

.git/**
.github/**
.tours/**
.yardoc/**
coverage/**
node_modules/**
public/vite*
tmp/**
