.DS_Store
.gitignore
.nvmrc
.release-version
.ruby-version
.vscode
docker-compose*.yml
Dockerfile
lefthook.yml
LICENSE
README.md
tmp

.git/**
.github/**
.tours/**
.yardoc/**
node_modules/**
public/assets/**
public/packs/**
public/packs-test/**
