# Ruby
.bundle
db/*.sqlite3

# Javascript
.yarn-integrity
/node_modules
/vendor
yarn-debug.log*
yarn-error.log*

# CSS
.sass-cache/
public/stylesheets/*.css

# Docs
.yardoc/
doc/

# Testing
/app/frontend/coverage/
/coverage
/spec/examples.txt
lcov.info

# Tempfiles
tmp/

# Logs
log/*.log*

# OS
.DS_Store

# Editors
.talismanrc
.tern-project
.vscode
*.sublime-workspace
*.swn

# Release
BRANCH
REVISION
TAG
release.tar.gz

# Vite Ruby
/public/vite*
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local

# Bye-bug history
.byebug_history
