# Ruby
.bundle
db/*.sqlite3

# Javascript
.yarn-integrity
/node_modules
/public/app/assets
/public/assets
/public/packs
/public/packs-test
/vendor
yarn-debug.log*
yarn-error.log*

# CSS
.sass-cache/
public/stylesheets/*.css

# Docs
.yardoc/
doc/

# Testing
/coverage
/spec/examples.txt
app/javascript/coverage/
lcov.info

# Tempfiles
tmp/

# Logs
log/*.log*

# OS
.DS_Store

# Editors
.talismanrc
.tern-project
.vscode
*.sublime-workspace
*.swn

# Release
BRANCH
REVISION
TAG
release.tar.gz

# Bye-bug history
.byebug_history
