<div class="row">
  <nav class="navbar navbar-dark bg-inverse">
    <h1 class="navbar-brand limber-logo m-b-0">Limber</h1>
    <ul class="nav navbar-nav">

    </ul>
    <span class='pull-xs-right'>Currently logged in as, <span class="user_name_placeholder"><strong><%= user_name.titlecase %></strong></span></span>
  </nav>
</div>
