<h2>Ongoing plates</h2>
<ul id="ongoing_plates" data-role="listview" data-theme="d" data-filter="true" data-inset="true">
  <li data-role="list-divider">All Plates</li>

  <% plates.each do |plate| -%>
    <li>
      <h2><%= link_to(useful_barcode(plate.barcode), plate, :id => "plate_#{plate.barcode.ean13}", :class => "plate_link") %></h2>
        Created: <%= plate.created_at.to_formatted_s(:date_created) %>
        Type: <%= plate.plate_purpose.name %>
        State: <%= plate.state %></p>
    </li>
  <% end -%>
</ul>
