<div id='tubes-to-rack-page'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.jsUrl %>"
     data-target-url="<%= create_tube_rack_path %>"
>
  <div class="spinner-dark">Loading...</div>
</div>