# This configuration file is for the manual Bespoke pipelines for the PCR, PCR Free and
# Chromium 10X 3 prime version 2 library types.
---
LBB Cherrypick:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: true
  :input_plate: true
  :presenter_class: Presenters::StockPlatePresenter
LBB Ligation:
  :asset_type: plate
LBB Lib PCR-XP:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :creator_class: LabwareCreators::CustomTaggedPlate
LBB Ligation Tagged:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :creator_class: LabwareCreators::CustomTaggedPlate
LBB Chromium Tagged:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :creator_class: LabwareCreators::CustomTaggedPlate
  :tags_per_well: 4
LBB Lib-XP:
  :asset_type: plate
LBB Lib Pool Stock:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class:
    name: Presenters::SimpleTubePresenter
    args:
      downstream_mx_tube:
        child_tube_purposes_to_limit:
          - 'LB Lib Pool Norm'
  :default_printer_type: :tube
LBB Enriched BCR:
  :asset_type: plate
  :creator_class: LabwareCreators::PartialStampedPlateWithoutDilution
LBB Enriched BCR HT:
  :asset_type: plate
  :creator_class: LabwareCreators::PartialStampedPlateWithoutDilution
LBB Enriched TCR:
  :asset_type: plate
  :creator_class: LabwareCreators::PartialStampedPlateWithoutDilution
LBB Enriched TCR HT:
  :asset_type: plate
  :creator_class: LabwareCreators::PartialStampedPlateWithoutDilution
Stock Plate:
  :asset_type: plate
  :stock_plate: true
  :input_plate: true
  :presenter_class: Presenters::StockPlatePresenter
