# This configuration file is for the Bespoke Chromium Automated pipeline for VDJ option BCR
# library type requests.
---
LBC BCR Dil 1:
  :asset_type: plate
  :creator_class: LabwareCreators::FixedNormalisedPlate
  :dilutions:
    :source_volume: 2
    :diluent_volume: 33
  :file_links:
    - name: 'Download Hamilton Cherrypick to BCR Dilution 1 CSV'
      id: 'hamilton_cherrypick_to_bcr_dilution1'
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LBC BCR Enrich1 2XSPRI:
  :asset_type: plate
  :file_links:
    - name: 'Download Hamilton BCR Dil 1 to BCR Enrich1 2XSPRI CSV'
      id: 'hamilton_lbc_bcr_dil_1_to_lbc_bcr_enrich1_2xspri'
LBC BCR Enrich2 2XSPRI:
  :asset_type: plate
  :file_links:
    - name: 'Download Hamilton BCR Enrich1 2XSPRI to BCR Enrich2 2XSPRI CSV'
      id: 'hamilton_lbc_bcr_enrich1_2xspri_to_lbc_bcr_enrich2_2xspri'
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LBC BCR Dil 2:
  :asset_type: plate
  :creator_class: LabwareCreators::ConcentrationNormalisedPlate
  :dilutions:
    :target_amount_ng: 50
    :target_volume: 20
    :minimum_source_volume: 0.2
  :file_links:
    - name: 'Download Hamilton BCR Enrich2 2XSPRI to BCR Dil 2 CSV'
      id: 'hamilton_lbc_bcr_enrich2_2xspri_to_lbc_bcr_dil_2'
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LBC BCR Post Lig 1XSPRI:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :creator_class: LabwareCreators::CustomTaggedPlate
  :tags_per_well: 1
  :file_links:
    - name: 'Download Hamilton BCR Dil 2 to BCR Post Lig 1XSPRI CSV'
      id: 'hamilton_lbc_bcr_dil_2_to_lbc_bcr_post_lig_1xspri'
LBC BCR Post PCR:
  :asset_type: plate
  :file_links:
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LBC BCR LibPS:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
LBC BCR Pool Norm:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :presenter_class:
    name: Presenters::SimpleTubePresenter
    args:
      downstream_mx_tube:
        child_tube_purposes_to_limit:
          - 'LB Lib Pool Norm'
  :default_printer_type: :tube
