---
GBS Stock:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: false
  :presenter_class: Presenters::MinimalStockPlatePresenter
  :input_plate: true
  :size: 384
GBS-96 Stock:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: false
  :presenter_class: Presenters::MinimalStockPlatePresenter
  :input_plate: true
  :size: 96
GBS PCR1:
  :asset_type: plate
  :stock_plate: false
  :cherrypickable_target: false
  # Changed from using MinimalPcrPlatePresenter to allow well failing.
  # Can be reverted if well failing functionality on stock plates is implemented.
  :presenter_class: Presenters::PcrWithPrimerPanelPlatePresenter
  :input_plate: false
  :creator_class: LabwareCreators::QuadrantStampPrimerPanel
  :size: 384
  :pcr_stage: 'pcr 1'
  :label_template: plate_6mm_double
GBS PCR2:
  :asset_type: plate
  :stock_plate: false
  :cherrypickable_target: false
  :creator_class: LabwareCreators::TaggedPlate
  :tag_layout_templates:
    - GbS Tag Set A
    - GbS Tag Set B
    - GbS Tag Set C
    - GbS Tag Set D
  :presenter_class: Presenters::MinimalPcrPlatePresenter
  :input_plate: false
  :size: 384
  :pcr_stage: 'pcr 2'
  :label_template: plate_6mm_double
  :manual_transfer:
    states:
      - 'started'
GBS PCR2 Pool Stock:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::StockTubePurpose
  :creator_class: LabwareCreators::PooledTubesFromWholePlates
  :presenter_class: Presenters::SimpleTubePresenter
GBS PCR Pool:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::StockTubePurpose
  :creator_class: LabwareCreators::TubeFromTube
  :presenter_class: Presenters::SimpleTubePresenter
GBS PCR Pool Selected:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::StockTubePurpose
  :creator_class: LabwareCreators::TubeFromTube
  :presenter_class: Presenters::SimpleTubePresenter
GBS MiSeq Pool:
  :asset_type: tube
  :target: MultiplexedLibraryTube
  :type: IlluminaHtp::MxTubePurpose
  :creator_class: LabwareCreators::PooledTubesFromWholeTubes
  :presenter_class: Presenters::FinalTubePresenter
  :submission:
    template_name: 'MiSeq for GBS'
    request_options:
      :read_length: 150
