---
LTHR RT:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: true
  :input_plate: true
  :presenter_class: Presenters::StockPlatePresenter
  :creator_class: LabwareCreators::Uncreatable
LTHR RT-S: # Stamp from the LTHR Cherrypick plates.
  :asset_type: plate
LTHR PCR 1:
  :asset_type: plate
LTHR PCR 2:
  :asset_type: plate
LTHR Lib PCR 1:
  :asset_type: plate
  :presenter_class: Presenters::MinimalPcrPlatePresenter
  :creator_class: LabwareCreators::TaggedPlate
  :tag_layout_templates:
    - TS_pWGSA_UDI96
    - TS_pWGSB_UDI96
    - TS_pWGSC_UDI96
    - TS_pWGSC_UDI_tag60_61_swap
    - TS_pWGSD_UDI96
    - TS_pWGSA_UDI96v2
  :enforce_same_template_within_pool: true
LTHR Lib PCR 2:
  :asset_type: plate
  :presenter_class: Presenters::MinimalPcrPlatePresenter
  :creator_class: LabwareCreators::TaggedPlate
  :tag_layout_templates:
    - TS_pWGSA_UDI96
    - TS_pWGSB_UDI96
    - TS_pWGSC_UDI96
    - TS_pWGSC_UDI_tag60_61_swap
    - TS_pWGSD_UDI96
    - TS_pWGSA_UDI96v2
  :enforce_same_template_within_pool: true
LTHR Lib PCR pool:
  :asset_type: plate
  :creator_class: LabwareCreators::MergedPlate
  :merged_plate:
    source_purposes:
      - 'LTHR Lib PCR 1'
      - 'LTHR Lib PCR 2'
    help_text: 'Here we are merging the two Lib PCR plates, creating a new library plate.'
LTHR Pool XP:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmissionWithPhiX
  :presenter_class:
    name: Presenters::SimpleTubePresenter
    args:
      downstream_mx_tube:
        child_tube_purposes_to_limit:
          - 'LB Lib Pool Norm'
  :default_printer_type: :tube
