---
PF Cherrypicked:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: true
  :input_plate: true
  :default_printer_type: :plate_a
  :presenter_class: Presenters::StockPlatePresenter
PF Shear:
  :asset_type: plate
PF Post Shear:
  :asset_type: plate
PF Post Shear XP: # This plate was previously tracked as part of the process
  :asset_type: plate
PF-384 Post Shear XP:
  :asset_type: plate
  :creator_class: LabwareCreators::QuadrantStamp
  :merger_plate: true
  :label_template: plate_6mm_double
  :size: 384
PF End Prep:
  :asset_type: plate
PF-384 End Prep:
  :asset_type: plate
  :label_template: plate_6mm_double
  :size: 384
PF Lib:
  :asset_type: plate
  :presenter_class: Presenters::PermissivePresenter
  :creator_class: LabwareCreators::TaggedPlate
  :tag_layout_templates:
    - 'NEXTflex-96 barcoded adapters tags in rows (first oligo: AACGTGAT)'
    - 'PF_adapters_UDI_96_A'
    - 'PF_adapters_UDI_96_B'
    - 'PF_adapters_UDI_96_C'
    - 'PF_adapters_UDI_96_D'
    - 'IDT for Illumina UDI v1'
    - 'PF_adapters_UDI_96_B_ROWS'
PF-384 Lib:
  :asset_type: plate
  :label_template: plate_6mm_double
  :presenter_class: Presenters::PermissivePresenter
  :creator_class: LabwareCreators::TaggedPlate
  :size: 384
  :tag_layout_templates:
    - 'IDT for Illumina v1 - 384 Quadrant'
PF Lib XP: # This plate was previously tracked as part of the process
  :asset_type: plate
PF-384 Lib XP2:
  :asset_type: plate
  :label_template: plate_6mm_double
  :size: 384
PF Lib XP2:
  :asset_type: plate
  :label_template: plate_xp
PF Lib Q-XP2:
  :asset_type: plate
  :creator_class: LabwareCreators::QuadrantSplitPlate
  :presenter_class: Presenters::SplitPresenter
  :label_template: plate_split
