# This configuration file is for the plate and tube purposes required for the
# high throughput scRNA Core library prep pipeline
---
# There will be a manual submission on a sub-selection of samples in the LRC GEM-X 5p cDNA PCR XP and
# LRC GEM-X 5p cDNA Input plates for aggregation into a single LRC GEM-X 5p Cherrypick plate. Multiple plates
# could be aggregated into a single cherrypick plate.
# e.g. if single samples are selected from each plate then up to 10 aggregate plates could be made which are
# then combined into a single cherrypick plate.
LRC GEM-X 5p Aggregate:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  :creator_class:
    name: LabwareCreators::TenStamp
    args:
      acceptable_purposes:
        - LRC GEM-X 5p cDNA Input
        - LRC GEM-X 5p cDNA PCR XP
  :file_links: []
# NB. QC concentrations need to be uploaded via QuantHub for the Cherrypick plate in order for the binning
# calculations in the Dil plate step to work.
LRC GEM-X 5p Cherrypick:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  :cherrypickable_target: true
  :creator_class:
    name: LabwareCreators::TenStamp
    args:
      acceptable_purposes:
        - LRC GEM-X 5p Aggregate
  :state_changer_class: StateChangers::AutomaticPlateStateChanger
  :work_completion_request_type: 'limber_scrna_core_aggregation'
  :file_links:
    - name: 'Download Hamilton Aggregate Cherrypick CSV'
      id: 'hamilton_aggregate_cherrypick'
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
# NB. For the following binning step the min and max amounts for the bins are the total amount of cDNA
# in the well i.e. QC concentration * (source_volume + diluent_volume)
# Here we are using a fixed source volume and there is no dilution (diluent_volume = 0)
LRC GEM-X 5p GE Dil:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  :presenter_class: Presenters::ConcentrationBinnedPlatePresenter
  :creator_class: LabwareCreators::ConcentrationBinnedPlate
  :dilutions:
    :source_volume: 10
    :diluent_volume: 25
    :bins:
      - max: 50.0
        pcr_cycles: 15
        colour: 1
      - min: 50.0
        max: 250.0
        pcr_cycles: 13
        colour: 2
      - min: 250.0
        max: 600.0
        pcr_cycles: 11
        colour: 3
      - min: 600.0
        max: 1_100.0
        pcr_cycles: 9
        colour: 4
      - min: 1_100.0
        max: 1_500.0
        pcr_cycles: 7
        colour: 5
      - min: 1_500.0
        pcr_cycles: 5
        colour: 12
  :file_links:
    - name: 'Download Hamilton LRC GEM-X 5p Cherrypick to LRC GEM-X 5p GE Dil CSV'
      id: hamilton_lrc_gem_x_5p_cherrypick_to_lrc_gem_x_5p_ge_dil
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LRC GEM-X 5p GE Frag 2XP:
  :asset_type: plate
  :file_links:
    - name: 'Download Hamilton Dilution to Frag 2XP CSV'
      id: 'hamilton_gex_dil_to_gex_frag_2xp'
LRC GEM-X 5p GE LigXP:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :creator_class: LabwareCreators::CustomTaggedPlate
  :tags_per_well: 1
  :file_links:
    - name: 'Download Hamilton Frag 2XP to LigXP CSV'
      id: 'hamilton_gex_frag_2xp_to_gex_ligxp'
LRC GEM-X 5p GE PCR 2XP:
  :asset_type: plate
  :presenter_class: Presenters::PcrPresenter
  :default_printer_type: :plate_b
  :label_template: plate_xp
  :file_links:
    - name: Download Concentration (ng/ul) CSV
      id: concentrations_ngul
LRC GEM-X 5p GE GLibPS:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
LRC GEM-X 5p GE Pool Norm:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :presenter_class:
    name: Presenters::SimpleTubePresenter
    args:
      downstream_mx_tube:
        child_tube_purposes_to_limit:
          - 'LB Lib Pool Norm'
  :default_printer_type: :tube
  :state_changer_class: StateChangers::AutomaticTubeStateChanger
  :work_completion_request_type: 'scrna_core_pool_norm'
LRC GEM-X 5p CITE SUP:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
LRC GEM-X 5p CITE SUP XP:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  # close off the submission when the plate is created
  :state_changer_class: StateChangers::AutomaticPlateStateChanger
  :work_completion_request_type: 'limber_scrna_core_cdna_pcr_cite'
LRC GEM-X 5p CITE SUP Input:
  :asset_type: plate
  :stock_plate: true # Uploaded via sample manifest.
  :input_plate: true # Passed when submission is built.
  :cherrypickable_target: false # Not destination in Sequencescape cherrypicking.
  :presenter_class: Presenters::StockPlatePresenter # Display as stock plate.
LRC GEM-X 5p CITE Ligation:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  :creator_class: LabwareCreators::CompositeWellFilteredCustomTaggedPlateCreator
  :tags_per_well: 1
LRC GEM-X 5p CITE Lib PCR-XP:
  :asset_type: plate
  :stock_plate: false
  :input_plate: false
  :default_printer_type: :plate_b
  :label_template: plate_xp
LRC GEM-X 5p CITE Lib Pool Stock:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
LRC GEM-X 5p CITE Pool Norm:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
  :state_changer_class: StateChangers::AutomaticTubeStateChanger
  :work_completion_request_type: 'scrna_core_pool_norm'
