---
UPF Cherrypicked:
  :asset_type: plate
  :stock_plate: true
  :cherrypickable_target: true
  :input_plate: true
  :default_printer_type: :plate_a
  :presenter_class: Presenters::StockPlatePresenter
UPF Shear:
  :asset_type: plate
UPF Post Shear:
  :asset_type: plate
UPF End Prep XP1:
  :asset_type: plate
UPF Lib:
  :asset_type: plate
  :presenter_class: Presenters::StandardPresenter
  :creator_class: LabwareCreators::TaggedPlate
  :tag_layout_templates:
    - 'Ultima P1'
    - 'Ultima P2'
UPF Lib XP2:
  :asset_type: plate
  :label_template: plate_xp
  :presenter_class:
    name: Presenters::SubmissionPlateDownstreamCompletedPresenter
    args:
      downstream_seq_tube:
        purpose: 'UPF EqVol Norm'
        state: 'passed'
        request_type: 'Ultima sequencing'
        request_allowed_states:
          - 'started'
          - 'passed'
  :submission_options:
    Ultima Rebalancing:
      template_name: 'Limber-Htp - Ultima PCR Free - Rebalancing'
      # We don't really need request options, but the Sequencescape API expects to
      # receive an object and won't accept an empty one, so we pass it a key that
      # it won't use and this stops it complaining about a "blank" object.
      request_options:
        no_options: ''
      allowed_extra_barcodes: false
UPF EqVol Pool:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
UPF EqVol Norm:
  :asset_type: tube
  :target: MultiplexedLibraryTube
  :type: IlluminaHtp::MxTubePurpose
  :creator_class: LabwareCreators::TubeFromTube
  :presenter_class: Presenters::FinalTubePresenter
  :default_printer_type: :tube
UPF Balanced Pool:
  :asset_type: tube
  :target: StockMultiplexedLibraryTube
  :type: IlluminaHtp::InitialStockTubePurpose
  # TODO: this creator needs to be replaced by one that takes the upload of the Nexus file
  :creator_class: LabwareCreators::PooledTubesBySubmission
  :presenter_class: Presenters::SimpleTubePresenter
  :default_printer_type: :tube
UPF Balanced Norm:
  :asset_type: tube
  :target: MultiplexedLibraryTube
  :type: IlluminaHtp::MxTubePurpose
  :default_printer_type: :tube
  # TODO: this creator needs to be replaced by one that creates 2 child tubes
  :creator_class: LabwareCreators::TubeFromTube
  # TODO: this presenter needs to be replaced by one that can do an automatic
  # submission on a tube for Ultima sequencing.
  # :presenter_class: Presenters::SubmissionTubePresenter
  # :submission_options:
  #   Ultima Sequencing - Automated Submission:
  #     template_name: 'Limber-Htp - Ultima PCR Free - Ultima sequencing Automated'
  #     allowed_extra_barcodes: false
  #     request_options:
  #       # TODO: what goes here for the Ultima sequencing submission?
  :presenter_class: Presenters::FinalTubePresenter
