<%# A simple representation of any labware type not currently handled otherwise -%>
<%# locals: (labware:, open_in_new_window: false) -%>
<%
  labware_path = if labware.tube_rack?
                   limber_tube_rack_path(labware.uuid) + "#relatives"
                 else
                   limber_plate_path(labware.uuid) + "#relatives"
                 end
%>
<div class="relative-item">
    <%= labware.purpose.name %> - <%= link_to labware_path, class: 'card-link stretched-link', target: (open_in_new_window ? '_blank' : '_self') do %>
        <%= labware.barcode.human.present? ? labware.barcode.human : labware.barcode.machine %>
    <% end %>
    <%= content_tag(:span, state_badge(labware.state), class: 'float-right') %>
</div>
