<ul id="relatives-information" class="list-group list-group-flush">
    <li class="list-group-item"><strong>Parents</strong></li>

    <% if presenter.labware.parents.any? %>
        <% presenter.labware.parents.each do |parent| %>
            <%= render partial: 'labware/plates/relative_list_item', locals: { labware: parent } %>
        <% end %>
    <% else %>
        <li class="list-group-item text-muted">
            No parents found
        </li>
    <% end %>

    <li class="list-group-item"><strong>Children</strong></li>

    <% if presenter.labware.children.any? %>
        <% presenter.labware.children.each do |child| %>
            <%= render partial: 'labware/plates/relative_list_item', locals: { labware: child } %>
        <% end %>
    <% else %>
        <li class="list-group-item text-muted">
            No children found
        </li>
    <% end %>
</ul>
