<div id="labware-summary-div">
  <div class="card-body bg-dark <%= presenter.state %>">
    <%= inline_svg 'tube.svg' %>
  </div>
  <%= render partial: 'summary', locals: { presenter: presenter } %>
</div>
