<div class="alert alert-danger" role="alert">
  <strong>We have a problem!</strong> There should be a button here to create a <%= name %> but it hasn't been configured properly! Please contact support.
</div>
