/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/*
 * Rather helpfully browsers decide to save the user ink and not print background
 * colours. While this is possible to override at the browser level, it is non-obvious
 * and I couldn't even find the option in my version of Firefox. Fortunately the
 * browsers do render drop-shadows. (Well IE doesn't, but we don't care.)
 */
/*
 * Pinched from the crayola wiki page: http://en.wikipedia.org/wiki/List_of_Crayola_crayon_colors
 * Honestly, couldn't come up with a better set of colours and ones with greater names.  All credit
 * to them!
 */
/* line 22, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-1 {
  background-color: #EA7E5D;
  box-shadow: inset 0 0 0 5mm #EA7E5D;
}

/* line 23, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-2 {
  background-color: #78DBE2;
  box-shadow: inset 0 0 0 5mm #78DBE2;
}

/* line 24, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-3 {
  background-color: #FDD9B5;
  box-shadow: inset 0 0 0 5mm #FDD9B5;
}

/* line 25, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-4 {
  background-color: #CD9575;
  box-shadow: inset 0 0 0 5mm #CD9575;
}

/* line 26, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-5 {
  background-color: #87A96B;
  box-shadow: inset 0 0 0 5mm #87A96B;
}

/* line 27, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-6 {
  background-color: #FFA474;
  box-shadow: inset 0 0 0 5mm #FFA474;
}

/* line 28, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-7 {
  background-color: #FAE7B5;
  box-shadow: inset 0 0 0 5mm #FAE7B5;
}

/* line 29, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-8 {
  background-color: #9F8170;
  box-shadow: inset 0 0 0 5mm #9F8170;
}

/* line 30, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-9 {
  background-color: #FD7C6E;
  box-shadow: inset 0 0 0 5mm #FD7C6E;
}

/* line 31, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-10 {
  background-color: #ababab;
  box-shadow: inset 0 0 0 5mm #ababab;
}

/* line 32, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-11 {
  background-color: #ACE5EE;
  box-shadow: inset 0 0 0 5mm #ACE5EE;
}

/* line 33, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-12 {
  background-color: #1F75FE;
  box-shadow: inset 0 0 0 5mm #1F75FE;
}

/* line 34, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-13 {
  background-color: #A2A2D0;
  box-shadow: inset 0 0 0 5mm #A2A2D0;
}

/* line 35, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-14 {
  background-color: #6699CC;
  box-shadow: inset 0 0 0 5mm #6699CC;
}

/* line 36, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-15 {
  background-color: #0D98BA;
  box-shadow: inset 0 0 0 5mm #0D98BA;
}

/* line 37, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-16 {
  background-color: #7366BD;
  box-shadow: inset 0 0 0 5mm #7366BD;
}

/* line 38, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-17 {
  background-color: #DE5D83;
  box-shadow: inset 0 0 0 5mm #DE5D83;
}

/* line 39, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-18 {
  background-color: #CB4154;
  box-shadow: inset 0 0 0 5mm #CB4154;
}

/* line 40, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-19 {
  background-color: #B4674D;
  box-shadow: inset 0 0 0 5mm #B4674D;
}

/* line 41, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-20 {
  background-color: #FF7F49;
  box-shadow: inset 0 0 0 5mm #FF7F49;
}

/* line 42, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-21 {
  background-color: #EFDECD;
  box-shadow: inset 0 0 0 5mm #EFDECD;
}

/* line 43, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-22 {
  background-color: #B0B7C6;
  box-shadow: inset 0 0 0 5mm #B0B7C6;
}

/* line 44, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-23 {
  background-color: #FFFF99;
  box-shadow: inset 0 0 0 5mm #FFFF99;
}

/* line 45, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-24 {
  background-color: #1CD3A2;
  box-shadow: inset 0 0 0 5mm #1CD3A2;
}

/* line 46, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-25 {
  background-color: #FFAACC;
  box-shadow: inset 0 0 0 5mm #FFAACC;
}

/* line 47, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-26 {
  background-color: #DD4492;
  box-shadow: inset 0 0 0 5mm #DD4492;
}

/* line 48, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-27 {
  background-color: #1DACD6;
  box-shadow: inset 0 0 0 5mm #1DACD6;
}

/* line 49, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-28 {
  background-color: #BC5D58;
  box-shadow: inset 0 0 0 5mm #BC5D58;
}

/* line 50, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-29 {
  background-color: #DD9475;
  box-shadow: inset 0 0 0 5mm #DD9475;
}

/* line 51, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-30 {
  background-color: #9ACEEB;
  box-shadow: inset 0 0 0 5mm #9ACEEB;
}

/* line 52, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-31 {
  background-color: #FFBCD9;
  box-shadow: inset 0 0 0 5mm #FFBCD9;
}

/* line 53, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-32 {
  background-color: #FDDB6D;
  box-shadow: inset 0 0 0 5mm #FDDB6D;
}

/* line 54, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-33 {
  background-color: #2B6CC4;
  box-shadow: inset 0 0 0 5mm #2B6CC4;
}

/* line 55, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-34 {
  background-color: #EFCDB8;
  box-shadow: inset 0 0 0 5mm #EFCDB8;
}

/* line 56, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-35 {
  background-color: #6E5160;
  box-shadow: inset 0 0 0 5mm #6E5160;
}

/* line 57, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-36 {
  background-color: #CEFF1D;
  box-shadow: inset 0 0 0 5mm #CEFF1D;
}

/* line 58, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-37 {
  background-color: #71BC78;
  box-shadow: inset 0 0 0 5mm #71BC78;
}

/* line 59, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-38 {
  background-color: #6DAE81;
  box-shadow: inset 0 0 0 5mm #6DAE81;
}

/* line 60, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-39 {
  background-color: #C364C5;
  box-shadow: inset 0 0 0 5mm #C364C5;
}

/* line 61, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-40 {
  background-color: #CC6666;
  box-shadow: inset 0 0 0 5mm #CC6666;
}

/* line 62, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-41 {
  background-color: #E7C697;
  box-shadow: inset 0 0 0 5mm #E7C697;
}

/* line 63, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-42 {
  background-color: #FCD975;
  box-shadow: inset 0 0 0 5mm #FCD975;
}

/* line 64, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-43 {
  background-color: #A8E4A0;
  box-shadow: inset 0 0 0 5mm #A8E4A0;
}

/* line 65, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-44 {
  background-color: #95918C;
  box-shadow: inset 0 0 0 5mm #95918C;
}

/* line 66, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-45 {
  background-color: #1CAC78;
  box-shadow: inset 0 0 0 5mm #1CAC78;
}

/* line 67, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-46 {
  background-color: #1164B4;
  box-shadow: inset 0 0 0 5mm #1164B4;
}

/* line 68, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-47 {
  background-color: #F0E891;
  box-shadow: inset 0 0 0 5mm #F0E891;
}

/* line 69, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-48 {
  background-color: #FF1DCE;
  box-shadow: inset 0 0 0 5mm #FF1DCE;
}

/* line 70, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-49 {
  background-color: #B2EC5D;
  box-shadow: inset 0 0 0 5mm #B2EC5D;
}

/* line 71, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-50 {
  background-color: #5D76CB;
  box-shadow: inset 0 0 0 5mm #5D76CB;
}

/* line 72, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-51 {
  background-color: #CA3767;
  box-shadow: inset 0 0 0 5mm #CA3767;
}

/* line 73, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-52 {
  background-color: #3BB08F;
  box-shadow: inset 0 0 0 5mm #3BB08F;
}

/* line 74, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-53 {
  background-color: #FEFE22;
  box-shadow: inset 0 0 0 5mm #FEFE22;
}

/* line 75, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-54 {
  background-color: #FCB4D5;
  box-shadow: inset 0 0 0 5mm #FCB4D5;
}

/* line 76, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-55 {
  background-color: #FFF44F;
  box-shadow: inset 0 0 0 5mm #FFF44F;
}

/* line 77, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-56 {
  background-color: #FFBD88;
  box-shadow: inset 0 0 0 5mm #FFBD88;
}

/* line 78, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-57 {
  background-color: #F664AF;
  box-shadow: inset 0 0 0 5mm #F664AF;
}

/* line 79, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-58 {
  background-color: #AAF0D1;
  box-shadow: inset 0 0 0 5mm #AAF0D1;
}

/* line 80, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-59 {
  background-color: #CD4A4C;
  box-shadow: inset 0 0 0 5mm #CD4A4C;
}

/* line 81, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-60 {
  background-color: #EDD19C;
  box-shadow: inset 0 0 0 5mm #EDD19C;
}

/* line 82, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-61 {
  background-color: #979AAA;
  box-shadow: inset 0 0 0 5mm #979AAA;
}

/* line 83, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-62 {
  background-color: #FF8243;
  box-shadow: inset 0 0 0 5mm #FF8243;
}

/* line 84, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-63 {
  background-color: #C8385A;
  box-shadow: inset 0 0 0 5mm #C8385A;
}

/* line 85, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-64 {
  background-color: #EF98AA;
  box-shadow: inset 0 0 0 5mm #EF98AA;
}

/* line 86, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-65 {
  background-color: #FDBCB4;
  box-shadow: inset 0 0 0 5mm #FDBCB4;
}

/* line 87, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-66 {
  background-color: #1A4876;
  box-shadow: inset 0 0 0 5mm #1A4876;
}

/* line 88, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-67 {
  background-color: #30BA8F;
  box-shadow: inset 0 0 0 5mm #30BA8F;
}

/* line 89, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-68 {
  background-color: #C54B8C;
  box-shadow: inset 0 0 0 5mm #C54B8C;
}

/* line 90, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-69 {
  background-color: #1974D2;
  box-shadow: inset 0 0 0 5mm #1974D2;
}

/* line 91, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-70 {
  background-color: #FFA343;
  box-shadow: inset 0 0 0 5mm #FFA343;
}

/* line 92, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-71 {
  background-color: #BAB86C;
  box-shadow: inset 0 0 0 5mm #BAB86C;
}

/* line 93, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-72 {
  background-color: #FF7538;
  box-shadow: inset 0 0 0 5mm #FF7538;
}

/* line 94, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-73 {
  background-color: #FF2B2B;
  box-shadow: inset 0 0 0 5mm #FF2B2B;
}

/* line 95, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-74 {
  background-color: #F8D568;
  box-shadow: inset 0 0 0 5mm #F8D568;
}

/* line 96, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-75 {
  background-color: #E6A8D7;
  box-shadow: inset 0 0 0 5mm #E6A8D7;
}

/* line 97, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-76 {
  background-color: #414A4C;
  box-shadow: inset 0 0 0 5mm #414A4C;
}

/* line 98, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-77 {
  background-color: #FF6E4A;
  box-shadow: inset 0 0 0 5mm #FF6E4A;
}

/* line 99, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-78 {
  background-color: #1CA9C9;
  box-shadow: inset 0 0 0 5mm #1CA9C9;
}

/* line 100, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-79 {
  background-color: #FFCFAB;
  box-shadow: inset 0 0 0 5mm #FFCFAB;
}

/* line 101, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-80 {
  background-color: #C5D0E6;
  box-shadow: inset 0 0 0 5mm #C5D0E6;
}

/* line 102, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-81 {
  background-color: #FDDDE6;
  box-shadow: inset 0 0 0 5mm #FDDDE6;
}

/* line 103, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-82 {
  background-color: #158078;
  box-shadow: inset 0 0 0 5mm #158078;
}

/* line 104, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-83 {
  background-color: #FC74FD;
  box-shadow: inset 0 0 0 5mm #FC74FD;
}

/* line 105, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-84 {
  background-color: #F78FA7;
  box-shadow: inset 0 0 0 5mm #F78FA7;
}

/* line 106, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-85 {
  background-color: #8E4585;
  box-shadow: inset 0 0 0 5mm #8E4585;
}

/* line 107, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-86 {
  background-color: #7442C8;
  box-shadow: inset 0 0 0 5mm #7442C8;
}

/* line 108, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-87 {
  background-color: #9D81BA;
  box-shadow: inset 0 0 0 5mm #9D81BA;
}

/* line 109, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-88 {
  background-color: #FE4EDA;
  box-shadow: inset 0 0 0 5mm #FE4EDA;
}

/* line 110, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-89 {
  background-color: #FF496C;
  box-shadow: inset 0 0 0 5mm #FF496C;
}

/* line 111, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-90 {
  background-color: #D68A59;
  box-shadow: inset 0 0 0 5mm #D68A59;
}

/* line 112, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-91 {
  background-color: #714B23;
  box-shadow: inset 0 0 0 5mm #714B23;
}

/* line 113, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-92 {
  background-color: #FF48D0;
  box-shadow: inset 0 0 0 5mm #FF48D0;
}

/* line 114, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-93 {
  background-color: #E3256B;
  box-shadow: inset 0 0 0 5mm #E3256B;
}

/* line 115, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-94 {
  background-color: #EE204D;
  box-shadow: inset 0 0 0 5mm #EE204D;
}

/* line 116, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-95 {
  background-color: #FF5349;
  box-shadow: inset 0 0 0 5mm #FF5349;
}

/* line 117, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-96 {
  background-color: #C0448F;
  box-shadow: inset 0 0 0 5mm #C0448F;
}

/* line 118, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-97 {
  background-color: #1FCECB;
  box-shadow: inset 0 0 0 5mm #1FCECB;
}

/* line 119, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-98 {
  background-color: #7851A9;
  box-shadow: inset 0 0 0 5mm #7851A9;
}

/* line 120, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-99 {
  background-color: #FF9BAA;
  box-shadow: inset 0 0 0 5mm #FF9BAA;
}

/* line 121, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-100 {
  background-color: #FC2847;
  box-shadow: inset 0 0 0 5mm #FC2847;
}

/* line 122, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-101 {
  background-color: #76FF7A;
  box-shadow: inset 0 0 0 5mm #76FF7A;
}

/* line 123, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-102 {
  background-color: #9FE2BF;
  box-shadow: inset 0 0 0 5mm #9FE2BF;
}

/* line 124, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-103 {
  background-color: #A5694F;
  box-shadow: inset 0 0 0 5mm #A5694F;
}

/* line 125, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-104 {
  background-color: #8A795D;
  box-shadow: inset 0 0 0 5mm #8A795D;
}

/* line 126, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-105 {
  background-color: #45CEA2;
  box-shadow: inset 0 0 0 5mm #45CEA2;
}

/* line 127, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-106 {
  background-color: #FB7EFD;
  box-shadow: inset 0 0 0 5mm #FB7EFD;
}

/* line 128, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-107 {
  background-color: #CDC5C2;
  box-shadow: inset 0 0 0 5mm #CDC5C2;
}

/* line 129, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-108 {
  background-color: #80DAEB;
  box-shadow: inset 0 0 0 5mm #80DAEB;
}

/* line 130, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-109 {
  background-color: #ECEABE;
  box-shadow: inset 0 0 0 5mm #ECEABE;
}

/* line 131, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-110 {
  background-color: #FFCF48;
  box-shadow: inset 0 0 0 5mm #FFCF48;
}

/* line 132, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-111 {
  background-color: #FD5E53;
  box-shadow: inset 0 0 0 5mm #FD5E53;
}

/* line 133, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-112 {
  background-color: #FAA76C;
  box-shadow: inset 0 0 0 5mm #FAA76C;
}

/* line 134, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-113 {
  background-color: #18A7B5;
  box-shadow: inset 0 0 0 5mm #18A7B5;
}

/* line 135, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-114 {
  background-color: #EBC7DF;
  box-shadow: inset 0 0 0 5mm #EBC7DF;
}

/* line 136, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-115 {
  background-color: #FC89AC;
  box-shadow: inset 0 0 0 5mm #FC89AC;
}

/* line 137, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-116 {
  background-color: #DBD7D2;
  box-shadow: inset 0 0 0 5mm #DBD7D2;
}

/* line 138, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-117 {
  background-color: #17806D;
  box-shadow: inset 0 0 0 5mm #17806D;
}

/* line 139, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-118 {
  background-color: #DEAA88;
  box-shadow: inset 0 0 0 5mm #DEAA88;
}

/* line 140, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-119 {
  background-color: #77DDE7;
  box-shadow: inset 0 0 0 5mm #77DDE7;
}

/* line 141, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-120 {
  background-color: #FFFF66;
  box-shadow: inset 0 0 0 5mm #FFFF66;
}

/* line 142, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-121 {
  background-color: #926EAE;
  box-shadow: inset 0 0 0 5mm #926EAE;
}

/* line 143, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-122 {
  background-color: #324AB2;
  box-shadow: inset 0 0 0 5mm #324AB2;
}

/* line 144, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-123 {
  background-color: #F75394;
  box-shadow: inset 0 0 0 5mm #F75394;
}

/* line 145, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-124 {
  background-color: #FFA089;
  box-shadow: inset 0 0 0 5mm #FFA089;
}

/* line 146, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-125 {
  background-color: #8F509D;
  box-shadow: inset 0 0 0 5mm #8F509D;
}

/* line 147, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-126 {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 5mm #FFFFFF;
}

/* line 148, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-127 {
  background-color: #A2ADD0;
  box-shadow: inset 0 0 0 5mm #A2ADD0;
}

/* line 149, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-128 {
  background-color: #FF43A4;
  box-shadow: inset 0 0 0 5mm #FF43A4;
}

/* line 150, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-129 {
  background-color: #FC6C85;
  box-shadow: inset 0 0 0 5mm #FC6C85;
}

/* line 151, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-130 {
  background-color: #CDA4DE;
  box-shadow: inset 0 0 0 5mm #CDA4DE;
}

/* line 152, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-131 {
  background-color: #FCE883;
  box-shadow: inset 0 0 0 5mm #FCE883;
}

/* line 153, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-132 {
  background-color: #C5E384;
  box-shadow: inset 0 0 0 5mm #C5E384;
}

/* line 154, /Users/jg16/projects/james/limber/app/assets/stylesheets/limber_print/print-colours.scss */
.colour-133 {
  background-color: #FFAE42;
  box-shadow: inset 0 0 0 5mm #FFAE42;
}

/* line 10, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
h1 {
  font-size: larger;
  display: inline;
  font-family: sans-serif;
}

/* line 15, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
.plate-view {
  border: 1px solid black;
  float: left;
  clear: left;
  margin: 5mm 0;
  border-radius: 15px;
  border-top-left-radius: 0;
}

/* line 23, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
.well {
  width: 5mm;
  height: 5mm;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  border-radius: 5mm;
}

/* line 32, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
.aliquot {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* Tell chrome to render backgrounds. This isn't actually
   * required, as we also use a drop-shadow to force Mozilla
   * browsers to also colour prints. But it adds a layer of
   * robustness if webkit/blink goes the way of IE and stops
   * rendering drop-shadows on printouts */
  -webkit-print-color-adjust: exact;
}

/* line 45, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information, #samples-information {
  width: 40%;
  float: right;
  clear: right;
}

/* line 50, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#summary-information {
  float: left;
  margin: 3mm;
  padding: 0;
}

/* line 55, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#labware-summary-div {
  position: relative;
}

/* line 58, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#labware-summary-div > div {
  display: none;
}

/* line 61, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information .ui-li-divider {
  border: solid 1px black;
  margin: 0.5em 0 0 0;
  padding: 0.25em;
}

/* line 66, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information .ui-li-static {
  border: solid 1px black;
  border-top: none;
  margin: 0;
  padding: 0.25em;
}

/* line 72, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information H3 {
  display: inline;
  font-size: 12pt;
  padding-right: 0.5em;
}

/* line 77, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information P {
  font-size: 12pt;
}

/* line 81, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
#pools-information, #samples-information, #summary-information {
  display: inline !important;
}

/* Hide all the interactive stuff */
/* line 86, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
button, .instructions, .ui-btn, .ui-navbar, #navbar, .ui-block-b, #plate-view-control, .ui-loader, #labware-summary h2, #samples-information {
  display: none !important;
}

/* line 90, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
ul {
  list-style: none;
}

/* line 94, /Users/jg16/projects/james/limber/app/assets/stylesheets/print.scss */
body {
  font-family: serif;
}
