<div class="ui-block-a">
  <div class="bed-scanner scape-ui-block interface">
    <label for="bed_scan" class="bed-label">Scan bed:</label>
    <input id="bed_scan" name="bed_scan" placeholder="Bed barcode" class="bed" tabindex="1"/>
    <label for="plate_scan" class="bed-label">Scan plate:</label>
    <input id="plate_scan" name="plate_scan" placeholder="Plate barcode" class="bed" tabindex="2"/>
  </div>
  <h2>Beds</h3>
  <ul class="robot bedv" data-role="listview" data-inset="true">
  </ul>
  <div id="validation_report"></div>
  <a href="#" data-role="button" data-icon="gear" id="validate_layout">Validate Layout</a>
</div>
