
  <div class="bed-scanner card card-inverse">
   <div class="card-body">
       <div class="row mb-2 me-2">
        <label for="robot_scan" class="bed-label col-3 col-form-label">Scan robot</label>
        <input type="text" id="robot_scan" name="robot_scan" placeholder="Robot barcode" tabindex="1" class="bed col form-control" />
      </div>
      <div class="row mb-2 me-2">
        <label for="bed_scan" class="bed-label col-3 col-form-label">Scan bed</label>
        <input type="text" id="bed_scan" name="bed_scan" placeholder="Bed barcode" tabindex="2" class="bed col form-control" />
      </div>
      <div class="row me-2">
        <label for="plate_scan" class="bed-label col-3 col-form-label">Scan plate</label>
        <input type="text" id="plate_scan" name="plate_scan" placeholder="Plate barcode" tabindex="3" class="bed col form-control" />
      </div>
    </div>
  </div>

  <div id="validation_report"></div>
  <%= card title: 'Robot', without_block: true do -%>
    <div id="robot" class="bed form-control"></div>
    <input type="hidden" id="robot_barcode" name="robot_barcode" value="">
  <%- end %>
  <%= card title: 'Scanned Beds', without_block: true do -%>
    <ul id='bed_list' class="list-group list-group-flush">
    </ul>
  <%- end %>
  <div class="d-grid">
    <a href="#" class="btn btn-lg btn-primary" id="validate_layout">Validate Layout</a>
  </div>
