---
Bespoke Chromium 5p:
  filters:
    request_type_key: limber_multiplexing
    library_type: Chromium single cell 5 prime
  library_pass: LBC 5p GEX PCR 2XP
  relationships:
    LBC Cherrypick: LBC 5p GEX Dil
    LBC 5p GEX Dil: LBC 5p GEX Frag 2XP
    LBC 5p GEX Frag 2XP: LBC 5p GEX LigXP
    LBC 5p GEX LigXP: LBC 5p GEX PCR 2XP
Bespoke Chromium 5p MX:
  filters:
    request_type_key:
    - limber_multiplexing
  relationships:
    LBC 5p GEX PCR 2XP: LBC 5p GLibPS
    LBC 5p GLibPS: LB Lib Pool Norm
