---
Bespoke Chromium 3pv3:
  pipeline_group: Bespoke Chromium 3pv3
  filters:
    request_type: limber_chromium_bespoke
    library_type:
      - Chromium single cell 3 prime v3
      - Chromium single cell 3 prime HT v3
  library_pass: LBC 3pV3 GEX PCR 2XP
  relationships:
    LBC Cherrypick: LBC 3pV3 GEX Dil
    LBC 3pV3 GEX Dil: LBC 3pV3 GEX Frag 2XP
    LBC 3pV3 GEX Frag 2XP: LBC 3pV3 GEX LigXP
    LBC 3pV3 GEX LigXP: LBC 3pV3 GEX PCR 2XP
Bespoke Chromium 3pv3 MX:
  pipeline_group: Bespoke Chromium 3pv3
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    LBC 3pV3 GEX PCR 2XP: LBC 3pV3 GLibPS
    LBC 3pV3 GLibPS: LB Lib Pool Norm
