---
pWGS-384: # Top of the pipeline (Library Prep)
  pipeline_group: pWGS-384
  filters:
    request_type_key: limber_pwgs-384
    library_type: pWGS-384
  library_pass: pWGS-384 Lib PCR
  relationships:
    LB Cherrypick: LB Shear
    LB Shear: LB Post Shear
    LB Post Shear: pWGS-384 Post Shear XP
    pWGS-384 Post Shear XP: pWGS-384 End Prep
    pWGS-384 End Prep: pWGS-384 AL Lib
    pWGS-384 AL Lib: pWGS-384 Lib PCR
pWGS-384 MX: # Bottom of the pipeline (Pooling and normalization)
  pipeline_group: pWGS-384
  filters:
    request_type_key:
      - limber_multiplexing
  relationships:
    pWGS-384 Lib PCR: pWGS-384 Lib Pool XP
    pWGS-384 Lib Pool XP: LB Lib Pool Norm
