---
ISC:
  pipeline_group: ISC
  filters:
    request_type:
      - limber_isc
      - limber_reisc # Typically reISC begins on LB Lib PCR-XP
    library_type: # Taken from the library types on the above request types
      - Agilent Pulldown
      - Duplex-Seq
      - Twist Pulldown
      - Targeted NanoSeq Pulldown Twist
      - Targeted NanoSeq Pulldown Agilent
      - BGE
  library_pass:
    - LB Cap Lib PCR-XP
  relationships:
    LB Cherrypick: LB Shear
    LB Shear: LB Post Shear
    LB Post Shear: LB End Prep
    LB End Prep: LB Lib PCR
    LB Lib PCR: LB Lib PCR-XP
    LB Lib PCR-XP: LB Lib PrePool
    LTN Lib PCR XP: LB Lib PrePool # for Targeted NanoSeq ReISC
    LB Lib PrePool: LB Hyb
    LB Hyb: LB Cap Lib
    LB Cap Lib: LB Cap Lib PCR
    LB Cap Lib PCR: LB Cap Lib PCR-XP
ISC MX:
  pipeline_group: ISC
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    LB Cap Lib PCR-XP: LB Cap Lib Pool
    LB Cap Lib Pool: Cap Lib Pool Norm
