---
# This pipeline can be deleted once all "limber_heron_lthr" requests have progressed through it
# It is being replaced by high_throughput_heron_384_tailed_v2
Heron-384 Tailed A: # Heron 384-well pipeline specific to PCR 1 plate
  pipeline_group: Heron-384 (legacy)
  filters: &heron_tailed_filters
    request_type: limber_heron_lthr
    library_type:
      - Sanger_tailed_artic_v1_384
  library_pass: LTHR-384 Lib PCR pool
  relationships:
    LTHR Cherrypick: LTHR-384 RT-Q
    LTHR-384 RT-Q: LTHR-384 PCR 1
    LTHR-384 RT: LTHR-384 PCR 1
    LTHR-384 PCR 1: LTHR-384 Lib PCR 1
    LTHR-384 Lib PCR 1: LTHR-384 Lib PCR pool
Heron-384 Tailed B:
  pipeline_group: Heron-384 (legacy)
  filters: *heron_tailed_filters
  library_pass: LTHR-384 Lib PCR pool
  relationships:
    LTHR-384 RT-Q: LTHR-384 PCR 2
    LTHR-384 RT: LTHR-384 PCR 2
    LTHR-384 PCR 2: LTHR-384 Lib PCR 2
    LTHR-384 Lib PCR 2: LTHR-384 Lib PCR pool
Heron 384 Tailed MX: # Bottom of the pipeline (Pooling and normalization)
  pipeline_group: Heron-384 (legacy)
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    LTHR-384 Lib PCR pool: LTHR-384 Pool XP
    LTHR-384 Pool XP: LB Lib Pool Norm
