---
High Throughput PCR Free 96:
  pipeline_group: High Throughput PCR Free 96
  filters:
    request_type: limber_pcr_free
    library_type:
      - HiSeqX PCR free
      - DAFT-seq
      - BGE
  library_pass: PF Lib XP2
  relationships:
    PF Cherrypicked: PF Shear
    PF Shear: PF Post Shear
    PF Post Shear: PF End Prep
    PF End Prep: PF Lib
    PF Lib: PF Lib XP2
    # Legacy Steps
    PF Post Shear XP: PF Lib
    PF Lib XP: PF Lib XP2
High Throughput PCR Free 96 MX:
  pipeline_group: High Throughput PCR Free 96
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    PF Lib XP2: LB Lib Pool
    LB Lib Pool: LB Lib Pool Norm
High Throughput PCR Free 384:
  pipeline_group: High Throughput PCR Free 384
  filters:
    request_type:
      - limber_pcr_free
    library_type:
      - PCR Free 384
  library_pass:
    - PF-384 Lib XP2
    - PF Lib Q-XP2
  relationships:
    PF Cherrypicked: PF Shear
    PF Shear: PF Post Shear
    PF Post Shear: PF-384 Post Shear XP
    PF-384 Post Shear XP: PF-384 End Prep
    PF-384 End Prep: PF-384 Lib
    PF-384 Lib: PF-384 Lib XP2
    PF-384 Lib XP2: PF Lib Q-XP2
High Throughput PCR Free 384 MX:
  pipeline_group: High Throughput PCR Free 384
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    PF-384 Lib XP2: PF Lib Q-XP2
    PF Lib Q-XP2: LB Lib Pool
    LB Lib Pool: LB Lib Pool Norm
