---
Heron-96 Tailed A V2: # Heron 96-well pipeline specific to PCR 1 plate
  pipeline_group: Heron-96 V2
  filters: &heron_tailed_filters
    request_type_key: limber_heron_lthr_v2
    library_type:
      - PCR amplicon tailed adapters 96
      - Sanger_tailed_artic_v1_96
  library_pass: LB Lib Pool Norm
  relationships:
    LTHR Cherrypick: LTHR RT-S
    LTHR RT-S: LTHR PCR 1
    LTHR RT: LTHR PCR 1
    LTHR PCR 1: LTHR Lib PCR 1
    LTHR Lib PCR 1: LTHR Lib PCR pool
    LTHR Lib PCR pool: LTHR Pool XP
    LTHR Pool XP: LB Lib Pool Norm
Heron-96 Tailed B V2:
  pipeline_group: Heron-96 V2
  filters: *heron_tailed_filters
  library_pass: LB Lib Pool Norm
  relationships:
    LTHR RT-S: LTHR PCR 2
    LTHR RT: LTHR PCR 2
    LTHR PCR 2: LTHR Lib PCR 2
    LTHR Lib PCR 2: LTHR Lib PCR pool
