---
# This pipeline can be deleted once all "limber_heron_lthr" requests have progressed through it
# It is being replaced by high_throughput_heron_96_tailed_v2
Heron-96 Tailed A: # Heron 96-well pipeline specific to PCR 1 plate
  pipeline_group: Heron-96 (legacy)
  filters: &heron_tailed_filters
    request_type: limber_heron_lthr
    library_type:
      - PCR amplicon tailed adapters 96
      - Sanger_tailed_artic_v1_96
  library_pass: LTHR Lib PCR pool
  relationships:
    LTHR Cherrypick: LTHR RT-S
    LTHR RT-S: LTHR PCR 1
    LTHR RT: LTHR PCR 1
    LTHR PCR 1: LTHR Lib PCR 1
    LTHR Lib PCR 1: LTHR Lib PCR pool
Heron-96 Tailed B:
  pipeline_group: Heron-96 (legacy)
  filters: *heron_tailed_filters
  library_pass: LTHR Lib PCR pool
  relationships:
    LTHR RT-S: LTHR PCR 2
    LTHR RT: LTHR PCR 2
    LTHR PCR 2: LTHR Lib PCR 2
    LTHR Lib PCR 2: LTHR Lib PCR pool
Heron 96 Tailed MX: # Bottom of the pipeline (Pooling and normalization)
  pipeline_group: Heron-96 (legacy)
  filters:
    request_type:
      - limber_multiplexing
  relationships:
    LTHR Lib PCR pool: LTHR Pool XP
    LTHR Pool XP: LB Lib Pool Norm
