<table id="plate">
    <tbody><tr>
      <th class="first-col">&nbsp;</th>
      
        <th>1</th>
      
        <th>2</th>
      
        <th>3</th>
      
        <th>4</th>
      
        <th>5</th>
      
        <th>6</th>
      
        <th>7</th>
      
        <th>8</th>
      
        <th>9</th>
      
        <th>10</th>
      
        <th>11</th>
      
        <th>12</th>
      
    </tr>


    
      <tr>
        <th class="first-col">A</th>
        
          <td>
            <div class="well" id="well_A1"><div id="aliquot_A1" class="aliquot col-1" rel="#details_A1">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A2"><div id="aliquot_A2" class="aliquot col-2" rel="#details_A2">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A3"><div id="aliquot_A3" class="aliquot col-3" rel="#details_A3">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A4"><div id="aliquot_A4" class="aliquot col-4" rel="#details_A4">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A5"><div id="aliquot_A5" class="aliquot col-5" rel="#details_A5">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A6"><div id="aliquot_A6" class="aliquot col-6" rel="#details_A6">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A7"><div id="aliquot_A7" class="aliquot col-7" rel="#details_A7">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A8"><div id="aliquot_A8" class="aliquot col-8" rel="#details_A8">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A9"><div id="aliquot_A9" class="aliquot col-9" rel="#details_A9">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A10"><div id="aliquot_A10" class="aliquot col-10" rel="#details_A10">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A11"><div id="aliquot_A11" class="aliquot col-11" rel="#details_A11">&nbsp;</div></div>
          </td>
        
          <td>
            <div class="well" id="well_A12"><div id="aliquot_A12" class="aliquot col-12" rel="#details_A12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">B</th>
        
          <td>
            <div class="well" id="well_B1"><div id="aliquot_B1" class="aliquot col-1" reel="#details_B1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B2"><div id="aliquot_B2" class="aliquot col-2" reel="#details_B2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B3"><div id="aliquot_B3" class="aliquot col-3" reel="#details_B3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B4"><div id="aliquot_B4" class="aliquot col-4" reel="#details_B4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B5"><div id="aliquot_B5" class="aliquot col-5" reel="#details_B5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B6"><div id="aliquot_B6" class="aliquot col-6" reel="#details_B6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B7"><div id="aliquot_B7" class="aliquot col-7" reel="#details_B7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B8"><div id="aliquot_B8" class="aliquot col-8" reel="#details_B8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B9"><div id="aliquot_B9" class="aliquot col-9" reel="#details_B9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B10"><div id="aliquot_B10" class="aliquot col-10" rel="#details_B10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B11"><div id="aliquot_B11" class="aliquot col-11" rel="#details_B11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_B12"><div id="aliquot_B12" class="aliquot col-12" rel="#details_B12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">C</th>
        
          <td>
            <div class="well" id="well_C1"><div id="aliquot_C1" class="aliquot col-1" reel="#details_C1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C2"><div id="aliquot_C2" class="aliquot col-2" reel="#details_C2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C3"><div id="aliquot_C3" class="aliquot col-3" reel="#details_C3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C4"><div id="aliquot_C4" class="aliquot col-4" reel="#details_C4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C5"><div id="aliquot_C5" class="aliquot col-5" reel="#details_C5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C6"><div id="aliquot_C6" class="aliquot col-6" reel="#details_C6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C7"><div id="aliquot_C7" class="aliquot col-7" reel="#details_C7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C8"><div id="aliquot_C8" class="aliquot col-8" reel="#details_C8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C9"><div id="aliquot_C9" class="aliquot col-9" reel="#details_C9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C10"><div id="aliquot_C10" class="aliquot col-10" rel="#details_C10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C11"><div id="aliquot_C11" class="aliquot col-11" rel="#details_C11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_C12"><div id="aliquot_C12" class="aliquot col-12" rel="#details_C12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">D</th>
        
          <td>
            <div class="well" id="well_D1"><div id="aliquot_D1" class="aliquot col-1" reel="#details_D1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D2"><div id="aliquot_D2" class="aliquot col-2" reel="#details_D2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D3"><div id="aliquot_D3" class="aliquot col-3" reel="#details_D3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D4"><div id="aliquot_D4" class="aliquot col-4" reel="#details_D4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D5"><div id="aliquot_D5" class="aliquot col-5" reel="#details_D5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D6"><div id="aliquot_D6" class="aliquot col-6" reel="#details_D6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D7"><div id="aliquot_D7" class="aliquot col-7" reel="#details_D7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D8"><div id="aliquot_D8" class="aliquot col-8" reel="#details_D8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D9"><div id="aliquot_D9" class="aliquot col-9" reel="#details_D9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D10"><div id="aliquot_D10" class="aliquot col-10" rel="#details_D10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D11"><div id="aliquot_D11" class="aliquot col-11" rel="#details_D11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_D12"><div id="aliquot_D12" class="aliquot col-12" rel="#details_D12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">E</th>
        
          <td>
            <div class="well" id="well_E1"><div id="aliquot_E1" class="aliquot col-1" reel="#details_E1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E2"><div id="aliquot_E2" class="aliquot col-2" reel="#details_E2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E3"><div id="aliquot_E3" class="aliquot col-3" reel="#details_E3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E4"><div id="aliquot_E4" class="aliquot col-4" reel="#details_E4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E5"><div id="aliquot_E5" class="aliquot col-5" reel="#details_E5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E6"><div id="aliquot_E6" class="aliquot col-6" reel="#details_E6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E7"><div id="aliquot_E7" class="aliquot col-7" reel="#details_E7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E8"><div id="aliquot_E8" class="aliquot col-8" reel="#details_E8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E9"><div id="aliquot_E9" class="aliquot col-9" reel="#details_E9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E10"><div id="aliquot_E10" class="aliquot col-10" rel="#details_E10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E11"><div id="aliquot_E11" class="aliquot col-11" rel="#details_E11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_E12"><div id="aliquot_E12" class="aliquot col-12" rel="#details_E12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">F</th>
        
          <td>
            <div class="well" id="well_F1"><div id="aliquot_F1" class="aliquot col-1" reel="#details_F1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F2"><div id="aliquot_F2" class="aliquot col-2" reel="#details_F2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F3"><div id="aliquot_F3" class="aliquot col-3" reel="#details_F3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F4"><div id="aliquot_F4" class="aliquot col-4" reel="#details_F4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F5"><div id="aliquot_F5" class="aliquot col-5" reel="#details_F5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F6"><div id="aliquot_F6" class="aliquot col-6" reel="#details_F6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F7"><div id="aliquot_F7" class="aliquot col-7" reel="#details_F7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F8"><div id="aliquot_F8" class="aliquot col-8" reel="#details_F8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F9"><div id="aliquot_F9" class="aliquot col-9" reel="#details_F9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F10"><div id="aliquot_F10" class="aliquot col-10" rel="#details_F10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F11"><div id="aliquot_F11" class="aliquot col-11" rel="#details_F11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_F12"><div id="aliquot_F12" class="aliquot col-12" rel="#details_F12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">G</th>
        
          <td>
            <div class="well" id="well_G1"><div id="aliquot_G1" class="aliquot col-1" reel="#details_G1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G2"><div id="aliquot_G2" class="aliquot col-2" reel="#details_G2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G3"><div id="aliquot_G3" class="aliquot col-3" reel="#details_G3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G4"><div id="aliquot_G4" class="aliquot col-4" reel="#details_G4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G5"><div id="aliquot_G5" class="aliquot col-5" reel="#details_G5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G6"><div id="aliquot_G6" class="aliquot col-6" reel="#details_G6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G7"><div id="aliquot_G7" class="aliquot col-7" reel="#details_G7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G8"><div id="aliquot_G8" class="aliquot col-8" reel="#details_G8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G9"><div id="aliquot_G9" class="aliquot col-9" reel="#details_G9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G10"><div id="aliquot_G10" class="aliquot col-10" rel="#details_G10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G11"><div id="aliquot_G11" class="aliquot col-11" rel="#details_G11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_G12"><div id="aliquot_G12" class="aliquot col-12" rel="#details_G12">&nbsp;</div></div>
          </td>
        
      </tr>
    
      <tr>
        <th class="first-col">H</th>
        
          <td>
            <div class="well" id="well_H1"><div id="aliquot_H1" class="aliquot col-1" reel="#details_H1">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H2"><div id="aliquot_H2" class="aliquot col-2" reel="#details_H2">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H3"><div id="aliquot_H3" class="aliquot col-3" reel="#details_H3">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H4"><div id="aliquot_H4" class="aliquot col-4" reel="#details_H4">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H5"><div id="aliquot_H5" class="aliquot col-5" reel="#details_H5">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H6"><div id="aliquot_H6" class="aliquot col-6" reel="#details_H6">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H7"><div id="aliquot_H7" class="aliquot col-7" reel="#details_H7">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H8"><div id="aliquot_H8" class="aliquot col-8" reel="#details_H8">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H9"><div id="aliquot_H9" class="aliquot col-9" reel="#details_H9">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H10"><div id="aliquot_H10" class="aliquot col-10" rel="#details_H10">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H11"><div id="aliquot_H11" class="aliquot col-11" rel="#details_H11">&nbsp;</div></div>
          </td>                                                                
                                                                               
          <td>                                                                 
            <div class="well" id="well_H12"><div id="aliquot_H12" class="aliquot col-12" rel="#details_H12">&nbsp;</div></div>
          </td>
        
      </tr>
    
</tbody></table>