<div class="w-50 p-5 mx-auto my-5 bg-warning text-dark rounded-3">
  <h1>Uncreatable Labware Error</h1>

  <p class="lead">Cannot create the next labware in the pipeline</p>

  <p>
  This request to create a new
  <%= link_to @labware_creator.child_purpose_name, pipelines_path(filter: @labware_creator.child_purpose_name), class: 'fw-bold' %>
  <%= @labware_creator.child_labware_type.humanize.downcase %>
  from a
  <%= link_to @labware_creator.parent_purpose_name, pipelines_path(filter: @labware_creator.parent_purpose_name), class: 'fw-bold' %>
  <%= @labware_creator.parent_labware_type.humanize.downcase %>
  has run into some problems and the child labware is uncreatable.
  </p>

  <p class="mb-0">This may be due to choosing incompatible labware from <strong>Other Actions</strong> or an incomplete pipeline setup.</p>
</div>
