/*
 * This css is for the binned plate presenter.
 * In /app/views/aliquots/_binned_aliquot.html.erb we define two aliquot divs, one specific to the binning
 * tab, and the default pooling one for other tabs. This css shows and hides the relevant aliquot div.
 */
.plate-view {
  .binning-id { display: none; }
   &.binning-colours {
    .binning-id { display: inline; }
  }

  .aliquot.aliquot-pooled { display: inline-block; }
  .aliquot.aliquot-binned { display: none; }

  &.binning-colours {
    .aliquot.aliquot-pooled { display: none; }
    .aliquot.aliquot-binned { display: inline-block; }
  }
}
