@mixin shade-aliquot($base_colour, $text_colour) {
  &.aliquot, &.pool_name { background-color: $base_colour; color: $text_colour; }
  .aliquot, .pool_name { fill: $base_colour; color: $text_colour; }
  &.plate-view.plate-stock .aliquot.unknown { fill: $base_colour; background-color: $base_colour; color: $text_colour; }
}

.unknown           { @include shade-aliquot($secondary, #FFFFFF); }
.pending           { @include shade-aliquot($light, #000000); }
.started           { @include shade-aliquot($info, #FFFFFF); }
.passed            { @include shade-aliquot($success, #FFFFFF); }
.qc_complete       { @include shade-aliquot($primary, #FFFFFF); }
.good              { @include shade-aliquot($success, #FFFFFF); } // Used on well failure page
.failed            { @include shade-aliquot($danger, #FFFFFF); }
.cancelled         { @include shade-aliquot($danger, #FFFFFF); }

/*
 * Colours from: https://stackoverflow.com/questions/33295120/how-to-generate-gif-256-colors-palette/33295456#33295456
 * calculated that each colour on the list has maximal distance from all previous colours.
 */
.pool-colours, .binning-colours {
.colour-1 { @include shade-aliquot(#FFFF00, #000000); }
.colour-2 { @include shade-aliquot(#1CE6FF, #000000); }
.colour-3 { @include shade-aliquot(#FF34FF, #000000); }
.colour-4 { @include shade-aliquot(#FF4A46, #000000); }
.colour-5 { @include shade-aliquot(#008941, #000000); }
.colour-6 { @include shade-aliquot(#006FA6, #FFFFFF); }
.colour-7 { @include shade-aliquot(#A30059, #FFFFFF); }
.colour-8 { @include shade-aliquot(#FFDBE5, #000000); }
.colour-9 { @include shade-aliquot(#7A4900, #FFFFFF); }
.colour-10 { @include shade-aliquot(#0000A6, #FFFFFF); }
.colour-11 { @include shade-aliquot(#63FFAC, #000000); }
.colour-12 { @include shade-aliquot(#B79762, #000000); }
.colour-13 { @include shade-aliquot(#004D43, #FFFFFF); }
.colour-14 { @include shade-aliquot(#8FB0FF, #000000); }
.colour-15 { @include shade-aliquot(#997D87, #000000); }
.colour-16 { @include shade-aliquot(#5A0007, #FFFFFF); }
.colour-17 { @include shade-aliquot(#809693, #000000); }
.colour-18 { @include shade-aliquot(#FEFFE6, #000000); }
.colour-19 { @include shade-aliquot(#1B4400, #FFFFFF); }
.colour-20 { @include shade-aliquot(#4FC601, #000000); }
.colour-21 { @include shade-aliquot(#3B5DFF, #FFFFFF); }
.colour-22 { @include shade-aliquot(#4A3B53, #FFFFFF); }
.colour-23 { @include shade-aliquot(#FF2F80, #000000); }
.colour-24 { @include shade-aliquot(#61615A, #FFFFFF); }
.colour-25 { @include shade-aliquot(#BA0900, #FFFFFF); }
.colour-26 { @include shade-aliquot(#6B7900, #FFFFFF); }
.colour-27 { @include shade-aliquot(#00C2A0, #000000); }
.colour-28 { @include shade-aliquot(#FFAA92, #000000); }
.colour-29 { @include shade-aliquot(#FF90C9, #000000); }
.colour-30 { @include shade-aliquot(#B903AA, #FFFFFF); }
.colour-31 { @include shade-aliquot(#D16100, #000000); }
.colour-32 { @include shade-aliquot(#DDEFFF, #000000); }
.colour-33 { @include shade-aliquot(#000035, #FFFFFF); }
.colour-34 { @include shade-aliquot(#7B4F4B, #FFFFFF); }
.colour-35 { @include shade-aliquot(#A1C299, #000000); }
.colour-36 { @include shade-aliquot(#300018, #FFFFFF); }
.colour-37 { @include shade-aliquot(#0AA6D8, #000000); }
.colour-38 { @include shade-aliquot(#013349, #FFFFFF); }
.colour-39 { @include shade-aliquot(#00846F, #FFFFFF); }
.colour-40 { @include shade-aliquot(#372101, #FFFFFF); }
.colour-41 { @include shade-aliquot(#FFB500, #000000); }
.colour-42 { @include shade-aliquot(#C2FFED, #000000); }
.colour-43 { @include shade-aliquot(#A079BF, #000000); }
.colour-44 { @include shade-aliquot(#CC0744, #FFFFFF); }
.colour-45 { @include shade-aliquot(#C0B9B2, #000000); }
.colour-46 { @include shade-aliquot(#C2FF99, #000000); }
.colour-47 { @include shade-aliquot(#001E09, #FFFFFF); }
.colour-48 { @include shade-aliquot(#00489C, #FFFFFF); }
.colour-49 { @include shade-aliquot(#6F0062, #FFFFFF); }
.colour-50 { @include shade-aliquot(#0CBD66, #000000); }
.colour-51 { @include shade-aliquot(#EEC3FF, #000000); }
.colour-52 { @include shade-aliquot(#456D75, #FFFFFF); }
.colour-53 { @include shade-aliquot(#B77B68, #000000); }
.colour-54 { @include shade-aliquot(#7A87A1, #000000); }
.colour-55 { @include shade-aliquot(#788D66, #000000); }
.colour-56 { @include shade-aliquot(#885578, #FFFFFF); }
.colour-57 { @include shade-aliquot(#FAD09F, #000000); }
.colour-58 { @include shade-aliquot(#FF8A9A, #000000); }
.colour-59 { @include shade-aliquot(#D157A0, #000000); }
.colour-60 { @include shade-aliquot(#BEC459, #000000); }
.colour-61 { @include shade-aliquot(#456648, #FFFFFF); }
.colour-62 { @include shade-aliquot(#0086ED, #000000); }
.colour-63 { @include shade-aliquot(#886F4C, #FFFFFF); }
.colour-64 { @include shade-aliquot(#34362D, #FFFFFF); }
.colour-65 { @include shade-aliquot(#B4A8BD, #000000); }
.colour-66 { @include shade-aliquot(#00A6AA, #000000); }
.colour-67 { @include shade-aliquot(#452C2C, #FFFFFF); }
.colour-68 { @include shade-aliquot(#636375, #FFFFFF); }
.colour-69 { @include shade-aliquot(#A3C8C9, #000000); }
.colour-70 { @include shade-aliquot(#FF913F, #000000); }
.colour-71 { @include shade-aliquot(#938A81, #000000); }
.colour-72 { @include shade-aliquot(#575329, #FFFFFF); }
.colour-73 { @include shade-aliquot(#00FECF, #000000); }
.colour-74 { @include shade-aliquot(#B05B6F, #FFFFFF); }
.colour-75 { @include shade-aliquot(#8CD0FF, #000000); }
.colour-76 { @include shade-aliquot(#3B9700, #000000); }
.colour-77 { @include shade-aliquot(#04F757, #000000); }
.colour-78 { @include shade-aliquot(#C8A1A1, #000000); }
.colour-79 { @include shade-aliquot(#1E6E00, #FFFFFF); }
.colour-80 { @include shade-aliquot(#7900D7, #FFFFFF); }
.colour-81 { @include shade-aliquot(#A77500, #000000); }
.colour-82 { @include shade-aliquot(#6367A9, #FFFFFF); }
.colour-83 { @include shade-aliquot(#A05837, #FFFFFF); }
.colour-84 { @include shade-aliquot(#6B002C, #FFFFFF); }
.colour-85 { @include shade-aliquot(#772600, #FFFFFF); }
.colour-86 { @include shade-aliquot(#D790FF, #000000); }
.colour-87 { @include shade-aliquot(#9B9700, #000000); }
.colour-88 { @include shade-aliquot(#549E79, #000000); }
.colour-89 { @include shade-aliquot(#FFF69F, #000000); }
.colour-90 { @include shade-aliquot(#201625, #FFFFFF); }
.colour-91 { @include shade-aliquot(#72418F, #FFFFFF); }
.colour-92 { @include shade-aliquot(#BC23FF, #000000); }
.colour-93 { @include shade-aliquot(#99ADC0, #000000); }
.colour-94 { @include shade-aliquot(#3A2465, #FFFFFF); }
.colour-95 { @include shade-aliquot(#922329, #FFFFFF); }
.colour-96 { @include shade-aliquot(#5B4534, #FFFFFF); }
.colour-97 { @include shade-aliquot(#FDE8DC, #000000); }
.colour-98 { @include shade-aliquot(#404E55, #FFFFFF); }
.colour-99 { @include shade-aliquot(#0089A3, #000000); }
.colour-100 { @include shade-aliquot(#CB7E98, #000000); }
.colour-101 { @include shade-aliquot(#A4E804, #000000); }
.colour-102 { @include shade-aliquot(#324E72, #FFFFFF); }
.colour-103 { @include shade-aliquot(#6A3A4C, #FFFFFF); }
.colour-104 { @include shade-aliquot(#83AB58, #000000); }
.colour-105 { @include shade-aliquot(#001C1E, #FFFFFF); }
.colour-106 { @include shade-aliquot(#D1F7CE, #000000); }
.colour-107 { @include shade-aliquot(#004B28, #FFFFFF); }
.colour-108 { @include shade-aliquot(#C8D0F6, #000000); }
.colour-109 { @include shade-aliquot(#A3A489, #000000); }
.colour-110 { @include shade-aliquot(#806C66, #FFFFFF); }
.colour-111 { @include shade-aliquot(#222800, #FFFFFF); }
.colour-112 { @include shade-aliquot(#BF5650, #000000); }
.colour-113 { @include shade-aliquot(#E83000, #000000); }
.colour-114 { @include shade-aliquot(#66796D, #FFFFFF); }
.colour-115 { @include shade-aliquot(#DA007C, #FFFFFF); }
.colour-116 { @include shade-aliquot(#FF1A59, #000000); }
.colour-117 { @include shade-aliquot(#8ADBB4, #000000); }
.colour-118 { @include shade-aliquot(#1E0200, #FFFFFF); }
.colour-119 { @include shade-aliquot(#5B4E51, #FFFFFF); }
.colour-120 { @include shade-aliquot(#C895C5, #000000); }
.colour-121 { @include shade-aliquot(#320033, #FFFFFF); }
.colour-122 { @include shade-aliquot(#FF6832, #000000); }
.colour-123 { @include shade-aliquot(#66E1D3, #000000); }
.colour-124 { @include shade-aliquot(#CFCDAC, #000000); }
.colour-125 { @include shade-aliquot(#D0AC94, #000000); }
.colour-126 { @include shade-aliquot(#7ED379, #000000); }
.colour-127 { @include shade-aliquot(#012C58, #FFFFFF); }
.colour-128 { @include shade-aliquot(#7A7BFF, #000000); }
.colour-129 { @include shade-aliquot(#D68E01, #000000); }
.colour-130 { @include shade-aliquot(#353339, #FFFFFF); }
.colour-131 { @include shade-aliquot(#78AFA1, #000000); }
.colour-132 { @include shade-aliquot(#FEB2C6, #000000); }
.colour-133 { @include shade-aliquot(#75797C, #000000); }
.colour-134 { @include shade-aliquot(#837393, #000000); }
.colour-135 { @include shade-aliquot(#943A4D, #FFFFFF); }
.colour-136 { @include shade-aliquot(#B5F4FF, #000000); }
.colour-137 { @include shade-aliquot(#D2DCD5, #000000); }
.colour-138 { @include shade-aliquot(#9556BD, #FFFFFF); }
.colour-139 { @include shade-aliquot(#6A714A, #FFFFFF); }
.colour-140 { @include shade-aliquot(#001325, #FFFFFF); }
.colour-141 { @include shade-aliquot(#02525F, #FFFFFF); }
.colour-142 { @include shade-aliquot(#0AA3F7, #000000); }
.colour-143 { @include shade-aliquot(#E98176, #000000); }
.colour-144 { @include shade-aliquot(#DBD5DD, #000000); }
.colour-145 { @include shade-aliquot(#5EBCD1, #000000); }
.colour-146 { @include shade-aliquot(#3D4F44, #FFFFFF); }
.colour-147 { @include shade-aliquot(#7E6405, #FFFFFF); }
.colour-148 { @include shade-aliquot(#02684E, #FFFFFF); }
.colour-149 { @include shade-aliquot(#962B75, #FFFFFF); }
.colour-150 { @include shade-aliquot(#8D8546, #000000); }
.colour-151 { @include shade-aliquot(#9695C5, #000000); }
.colour-152 { @include shade-aliquot(#E773CE, #000000); }
.colour-153 { @include shade-aliquot(#D86A78, #000000); }
.colour-154 { @include shade-aliquot(#3E89BE, #000000); }
.colour-155 { @include shade-aliquot(#CA834E, #000000); }
.colour-156 { @include shade-aliquot(#518A87, #000000); }
.colour-157 { @include shade-aliquot(#5B113C, #FFFFFF); }
.colour-158 { @include shade-aliquot(#55813B, #000000); }
.colour-159 { @include shade-aliquot(#E704C4, #000000); }
.colour-160 { @include shade-aliquot(#00005F, #FFFFFF); }
.colour-161 { @include shade-aliquot(#A97399, #000000); }
.colour-162 { @include shade-aliquot(#4B8160, #000000); }
.colour-163 { @include shade-aliquot(#59738A, #FFFFFF); }
.colour-164 { @include shade-aliquot(#FF5DA7, #000000); }
.colour-165 { @include shade-aliquot(#F7C9BF, #000000); }
.colour-166 { @include shade-aliquot(#643127, #FFFFFF); }
.colour-167 { @include shade-aliquot(#513A01, #FFFFFF); }
.colour-168 { @include shade-aliquot(#6B94AA, #000000); }
.colour-169 { @include shade-aliquot(#51A058, #000000); }
.colour-170 { @include shade-aliquot(#A45B02, #FFFFFF); }
.colour-171 { @include shade-aliquot(#1D1702, #FFFFFF); }
.colour-172 { @include shade-aliquot(#E20027, #FFFFFF); }
.colour-173 { @include shade-aliquot(#E7AB63, #000000); }
.colour-174 { @include shade-aliquot(#4C6001, #FFFFFF); }
.colour-175 { @include shade-aliquot(#9C6966, #000000); }
.colour-176 { @include shade-aliquot(#64547B, #FFFFFF); }
.colour-177 { @include shade-aliquot(#97979E, #000000); }
.colour-178 { @include shade-aliquot(#006A66, #FFFFFF); }
.colour-179 { @include shade-aliquot(#391406, #FFFFFF); }
.colour-180 { @include shade-aliquot(#F4D749, #000000); }
.colour-181 { @include shade-aliquot(#0045D2, #FFFFFF); }
.colour-182 { @include shade-aliquot(#006C31, #FFFFFF); }
.colour-183 { @include shade-aliquot(#DDB6D0, #000000); }
.colour-184 { @include shade-aliquot(#7C6571, #FFFFFF); }
.colour-185 { @include shade-aliquot(#9FB2A4, #000000); }
.colour-186 { @include shade-aliquot(#00D891, #000000); }
.colour-187 { @include shade-aliquot(#15A08A, #000000); }
.colour-188 { @include shade-aliquot(#BC65E9, #000000); }
.colour-189 { @include shade-aliquot(#FFFFFE, #000000); }
.colour-190 { @include shade-aliquot(#C6DC99, #000000); }
.colour-191 { @include shade-aliquot(#203B3C, #FFFFFF); }
.colour-192 { @include shade-aliquot(#671190, #FFFFFF); }
.colour-193 { @include shade-aliquot(#6B3A64, #FFFFFF); }
.colour-194 { @include shade-aliquot(#F5E1FF, #000000); }
.colour-195 { @include shade-aliquot(#FFA0F2, #000000); }
.colour-196 { @include shade-aliquot(#CCAA35, #000000); }
.colour-197 { @include shade-aliquot(#374527, #FFFFFF); }
.colour-198 { @include shade-aliquot(#8BB400, #000000); }
.colour-199 { @include shade-aliquot(#797868, #000000); }
.colour-200 { @include shade-aliquot(#C6005A, #FFFFFF); }
.colour-201 { @include shade-aliquot(#3B000A, #FFFFFF); }
.colour-202 { @include shade-aliquot(#C86240, #000000); }
.colour-203 { @include shade-aliquot(#29607C, #FFFFFF); }
.colour-204 { @include shade-aliquot(#402334, #FFFFFF); }
.colour-205 { @include shade-aliquot(#7D5A44, #FFFFFF); }
.colour-206 { @include shade-aliquot(#CCB87C, #000000); }
.colour-207 { @include shade-aliquot(#B88183, #000000); }
.colour-208 { @include shade-aliquot(#AA5199, #FFFFFF); }
.colour-209 { @include shade-aliquot(#B5D6C3, #000000); }
.colour-210 { @include shade-aliquot(#A38469, #000000); }
.colour-211 { @include shade-aliquot(#9F94F0, #000000); }
.colour-212 { @include shade-aliquot(#A74571, #FFFFFF); }
.colour-213 { @include shade-aliquot(#B894A6, #000000); }
.colour-214 { @include shade-aliquot(#71BB8C, #000000); }
.colour-215 { @include shade-aliquot(#00B433, #000000); }
.colour-216 { @include shade-aliquot(#789EC9, #000000); }
.colour-217 { @include shade-aliquot(#6D80BA, #000000); }
.colour-218 { @include shade-aliquot(#953F00, #FFFFFF); }
.colour-219 { @include shade-aliquot(#5EFF03, #000000); }
.colour-220 { @include shade-aliquot(#E4FFFC, #000000); }
.colour-221 { @include shade-aliquot(#1BE177, #000000); }
.colour-222 { @include shade-aliquot(#BCB1E5, #000000); }
.colour-223 { @include shade-aliquot(#76912F, #000000); }
.colour-224 { @include shade-aliquot(#003109, #FFFFFF); }
.colour-225 { @include shade-aliquot(#0060CD, #FFFFFF); }
.colour-226 { @include shade-aliquot(#D20096, #FFFFFF); }
.colour-227 { @include shade-aliquot(#895563, #FFFFFF); }
.colour-228 { @include shade-aliquot(#29201D, #FFFFFF); }
.colour-229 { @include shade-aliquot(#5B3213, #FFFFFF); }
.colour-230 { @include shade-aliquot(#A76F42, #000000); }
.colour-231 { @include shade-aliquot(#89412E, #FFFFFF); }
.colour-232 { @include shade-aliquot(#1A3A2A, #FFFFFF); }
.colour-233 { @include shade-aliquot(#494B5A, #FFFFFF); }
.colour-234 { @include shade-aliquot(#A88C85, #000000); }
.colour-235 { @include shade-aliquot(#F4ABAA, #000000); }
.colour-236 { @include shade-aliquot(#A3F3AB, #000000); }
.colour-237 { @include shade-aliquot(#00C6C8, #000000); }
.colour-238 { @include shade-aliquot(#EA8B66, #000000); }
.colour-239 { @include shade-aliquot(#958A9F, #000000); }
.colour-240 { @include shade-aliquot(#BDC9D2, #000000); }
.colour-241 { @include shade-aliquot(#9FA064, #000000); }
.colour-242 { @include shade-aliquot(#BE4700, #FFFFFF); }
.colour-243 { @include shade-aliquot(#658188, #000000); }
.colour-244 { @include shade-aliquot(#83A485, #000000); }
.colour-245 { @include shade-aliquot(#453C23, #FFFFFF); }
.colour-246 { @include shade-aliquot(#47675D, #FFFFFF); }
.colour-247 { @include shade-aliquot(#3A3F00, #FFFFFF); }
.colour-248 { @include shade-aliquot(#061203, #FFFFFF); }
.colour-249 { @include shade-aliquot(#DFFB71, #000000); }
.colour-250 { @include shade-aliquot(#868E7E, #000000); }
.colour-251 { @include shade-aliquot(#98D058, #000000); }
.colour-252 { @include shade-aliquot(#6C8F7D, #000000); }
.colour-253 { @include shade-aliquot(#D7BFC2, #000000); }
.colour-254 { @include shade-aliquot(#3C3E6E, #FFFFFF); }
.colour-255 { @include shade-aliquot(#D83D66, #000000); }
.colour-256 { @include shade-aliquot(#2F5D9B, #FFFFFF); }
.colour-257 { @include shade-aliquot(#6C5E46, #FFFFFF); }
.colour-258 { @include shade-aliquot(#D25B88, #000000); }
.colour-259 { @include shade-aliquot(#5B656C, #FFFFFF); }
.colour-260 { @include shade-aliquot(#00B57F, #000000); }
.colour-261 { @include shade-aliquot(#545C46, #FFFFFF); }
.colour-262 { @include shade-aliquot(#866097, #FFFFFF); }
.colour-263 { @include shade-aliquot(#365D25, #FFFFFF); }
.colour-264 { @include shade-aliquot(#252F99, #FFFFFF); }
.colour-265 { @include shade-aliquot(#00CCFF, #000000); }
.colour-266 { @include shade-aliquot(#674E60, #FFFFFF); }
.colour-267 { @include shade-aliquot(#FC009C, #000000); }
.colour-268 { @include shade-aliquot(#92896B, #000000); }
.colour-269 { @include shade-aliquot(#1E2324, #FFFFFF); }
.colour-270 { @include shade-aliquot(#DEC9B2, #000000); }
.colour-271 { @include shade-aliquot(#9D4948, #FFFFFF); }
.colour-272 { @include shade-aliquot(#85ABB4, #000000); }
.colour-273 { @include shade-aliquot(#342142, #FFFFFF); }
.colour-274 { @include shade-aliquot(#D09685, #000000); }
.colour-275 { @include shade-aliquot(#A4ACAC, #000000); }
.colour-276 { @include shade-aliquot(#00FFFF, #000000); }
.colour-277 { @include shade-aliquot(#AE9C86, #000000); }
.colour-278 { @include shade-aliquot(#742A33, #FFFFFF); }
.colour-279 { @include shade-aliquot(#0E72C5, #FFFFFF); }
.colour-280 { @include shade-aliquot(#AFD8EC, #000000); }
.colour-281 { @include shade-aliquot(#C064B9, #000000); }
.colour-282 { @include shade-aliquot(#91028C, #FFFFFF); }
.colour-283 { @include shade-aliquot(#FEEDBF, #000000); }
.colour-284 { @include shade-aliquot(#FFB789, #000000); }
.colour-285 { @include shade-aliquot(#9CB8E4, #000000); }
.colour-286 { @include shade-aliquot(#AFFFD1, #000000); }
.colour-287 { @include shade-aliquot(#2A364C, #FFFFFF); }
.colour-288 { @include shade-aliquot(#4F4A43, #FFFFFF); }
.colour-289 { @include shade-aliquot(#647095, #FFFFFF); }
.colour-290 { @include shade-aliquot(#34BBFF, #000000); }
.colour-291 { @include shade-aliquot(#807781, #000000); }
.colour-292 { @include shade-aliquot(#920003, #FFFFFF); }
.colour-293 { @include shade-aliquot(#B3A5A7, #000000); }
.colour-294 { @include shade-aliquot(#018615, #FFFFFF); }
.colour-295 { @include shade-aliquot(#F1FFC8, #000000); }
.colour-296 { @include shade-aliquot(#976F5C, #000000); }
.colour-297 { @include shade-aliquot(#FF3BC1, #000000); }
.colour-298 { @include shade-aliquot(#FF5F6B, #000000); }
.colour-299 { @include shade-aliquot(#077D84, #FFFFFF); }
.colour-300 { @include shade-aliquot(#F56D93, #000000); }
.colour-301 { @include shade-aliquot(#5771DA, #000000); }
.colour-302 { @include shade-aliquot(#4E1E2A, #FFFFFF); }
.colour-303 { @include shade-aliquot(#830055, #FFFFFF); }
.colour-304 { @include shade-aliquot(#02D346, #000000); }
.colour-305 { @include shade-aliquot(#BE452D, #FFFFFF); }
.colour-306 { @include shade-aliquot(#00905E, #000000); }
.colour-307 { @include shade-aliquot(#BE0028, #FFFFFF); }
.colour-308 { @include shade-aliquot(#6E96E3, #000000); }
.colour-309 { @include shade-aliquot(#007699, #FFFFFF); }
.colour-310 { @include shade-aliquot(#FEC96D, #000000); }
.colour-311 { @include shade-aliquot(#9C6A7D, #000000); }
.colour-312 { @include shade-aliquot(#3FA1B8, #000000); }
.colour-313 { @include shade-aliquot(#893DE3, #FFFFFF); }
.colour-314 { @include shade-aliquot(#79B4D6, #000000); }
.colour-315 { @include shade-aliquot(#7FD4D9, #000000); }
.colour-316 { @include shade-aliquot(#6751BB, #FFFFFF); }
.colour-317 { @include shade-aliquot(#B28D2D, #000000); }
.colour-318 { @include shade-aliquot(#E27A05, #000000); }
.colour-319 { @include shade-aliquot(#DD9CB8, #000000); }
.colour-320 { @include shade-aliquot(#AABC7A, #000000); }
.colour-321 { @include shade-aliquot(#980034, #FFFFFF); }
.colour-322 { @include shade-aliquot(#561A02, #FFFFFF); }
.colour-323 { @include shade-aliquot(#8F7F00, #000000); }
.colour-324 { @include shade-aliquot(#635000, #FFFFFF); }
.colour-325 { @include shade-aliquot(#CD7DAE, #000000); }
.colour-326 { @include shade-aliquot(#8A5E2D, #FFFFFF); }
.colour-327 { @include shade-aliquot(#FFB3E1, #000000); }
.colour-328 { @include shade-aliquot(#6B6466, #FFFFFF); }
.colour-329 { @include shade-aliquot(#C6D300, #000000); }
.colour-330 { @include shade-aliquot(#0100E2, #FFFFFF); }
.colour-331 { @include shade-aliquot(#88EC69, #000000); }
.colour-332 { @include shade-aliquot(#8FCCBE, #000000); }
.colour-333 { @include shade-aliquot(#21001C, #FFFFFF); }
.colour-334 { @include shade-aliquot(#511F4D, #FFFFFF); }
.colour-335 { @include shade-aliquot(#E3F6E3, #000000); }
.colour-336 { @include shade-aliquot(#FF8EB1, #000000); }
.colour-337 { @include shade-aliquot(#6B4F29, #FFFFFF); }
.colour-338 { @include shade-aliquot(#A37F46, #000000); }
.colour-339 { @include shade-aliquot(#6A5950, #FFFFFF); }
.colour-340 { @include shade-aliquot(#1F2A1A, #FFFFFF); }
.colour-341 { @include shade-aliquot(#04784D, #FFFFFF); }
.colour-342 { @include shade-aliquot(#101835, #FFFFFF); }
.colour-343 { @include shade-aliquot(#E6E0D0, #000000); }
.colour-344 { @include shade-aliquot(#FF74FE, #000000); }
.colour-345 { @include shade-aliquot(#00A45F, #000000); }
.colour-346 { @include shade-aliquot(#8F5DF8, #000000); }
.colour-347 { @include shade-aliquot(#4B0059, #FFFFFF); }
.colour-348 { @include shade-aliquot(#412F23, #FFFFFF); }
.colour-349 { @include shade-aliquot(#D8939E, #000000); }
.colour-350 { @include shade-aliquot(#DB9D72, #000000); }
.colour-351 { @include shade-aliquot(#604143, #FFFFFF); }
.colour-352 { @include shade-aliquot(#B5BACE, #000000); }
.colour-353 { @include shade-aliquot(#989EB7, #000000); }
.colour-354 { @include shade-aliquot(#D2C4DB, #000000); }
.colour-355 { @include shade-aliquot(#A587AF, #000000); }
.colour-356 { @include shade-aliquot(#77D796, #000000); }
.colour-357 { @include shade-aliquot(#7F8C94, #000000); }
.colour-358 { @include shade-aliquot(#FF9B03, #000000); }
.colour-359 { @include shade-aliquot(#555196, #FFFFFF); }
.colour-360 { @include shade-aliquot(#31DDAE, #000000); }
.colour-361 { @include shade-aliquot(#74B671, #000000); }
.colour-362 { @include shade-aliquot(#802647, #FFFFFF); }
.colour-363 { @include shade-aliquot(#2A373F, #FFFFFF); }
.colour-364 { @include shade-aliquot(#014A68, #FFFFFF); }
.colour-365 { @include shade-aliquot(#696628, #FFFFFF); }
.colour-366 { @include shade-aliquot(#4C7B6D, #FFFFFF); }
.colour-367 { @include shade-aliquot(#002C27, #FFFFFF); }
.colour-368 { @include shade-aliquot(#7A4522, #FFFFFF); }
.colour-369 { @include shade-aliquot(#3B5859, #FFFFFF); }
.colour-370 { @include shade-aliquot(#E5D381, #000000); }
.colour-371 { @include shade-aliquot(#FFF3FF, #000000); }
.colour-372 { @include shade-aliquot(#679FA0, #000000); }
.colour-373 { @include shade-aliquot(#261300, #FFFFFF); }
.colour-374 { @include shade-aliquot(#2C5742, #FFFFFF); }
.colour-375 { @include shade-aliquot(#9131AF, #FFFFFF); }
.colour-376 { @include shade-aliquot(#AF5D88, #000000); }
.colour-377 { @include shade-aliquot(#C7706A, #000000); }
.colour-378 { @include shade-aliquot(#61AB1F, #000000); }
.colour-379 { @include shade-aliquot(#8CF2D4, #000000); }
.colour-380 { @include shade-aliquot(#C5D9B8, #000000); }
.colour-381 { @include shade-aliquot(#9FFFFB, #000000); }
.colour-382 { @include shade-aliquot(#BF45CC, #000000); }
.colour-383 { @include shade-aliquot(#493941, #FFFFFF); }
.colour-384 { @include shade-aliquot(#863B60, #FFFFFF); }
}

.destination-plate, .source-plate, .plate-baited {
  @extend .pool-colours
}
