.plate-view {
  background-color: $gray-600;
  padding: 10px;
  border-collapse: separate;
  border-radius: 0px 15px 15px 15px;
  @extend .mx-auto;

  .pool-id { display: none; }
   &.pool-colours {
    .pool-id { display: inline; }
  }

  th {
    padding: 0;
    vertical-align: middle;
    text-align:     center;
    padding:0;
    color: $gray-100;
  }

  th.first-col {
    width: 15px;
  }

  .well {
    height:36px;
    width:36px;
    text-align: center;
    overflow: hidden;
    background: $gray-200;

    .aliquot {
      width:32px;
      height:32px;
      margin-top: 2px;
      text-align: center;
      display: inline-block;
      border: 2px $gray-800 solid;
      border-radius: 7px;
      font-size: small;

      .tag {
        display: none;
      }

      .tag:first-child {
        display: inline;
      }
    }

    .aliquot:hover {
      color: #FFD600;
      cursor: pointer;
      @extend .selected-aliquot;
    }

  }
}

.plate-view.plate-384 {
  padding: 5px;
  border-collapse: separate;
  td, th { font-size: 50%; }


  th.first-col {
    width: 15px;
  }

  .well {
    height:18px;
    width:18px;

    .aliquot {
      width:16px;
      height:16px;
      margin-top: 1px;
      border: 1px $gray-800 solid;
      border-radius: 3px;
    }
  }
}

@mixin labware-view {
  .unknown           { background-color: $secondary; }
  .pending           { background: none; }
  .started, .process_1, .process_2 { background-color: $info;    }
  .passed            { background-color: $success; }
  .qc_complete       { background-color: $primary; }
  .good              { background-color: $success; } // Used on well failure page
  .failed            { background-color: $danger;  }
  .cancelled         { background-color: $danger;  }
  .permanent-failure { background-color: $danger;  }
}

.tube-view {
  height:32px;
  width:32px;
  padding: 3px;
  text-align: center;
  overflow: hidden;
  border: 1px ridge rgba(5,19,40,0.1);
  background: $gray-200;
  border-radius: 7px;
}
.substitute-tag {
  @extend .aliquot;
  @extend .colour-97;
}

.available-tag {
  @extend .aliquot;
  @extend .colour-96;
}

.selected-aliquot {
  border: 2px $gray-100 solid;
  position: relative;
}


.plate-view, .tube-view {
  @include labware-view
}
