.plate-view {
  background-color: $gray;
  padding: 10px;
  border-collapse: separate;
  @include border-radius(15px);
  @include border-top-left-radius(0);

  th {
    padding: 0;
    vertical-align: middle;
    text-align:     center;
    padding:0;
    color: $gray-lightest;
  }

  th.first-col {
    width: 15px;
  }

  .well {
    height:36px;
    width:36px;
    text-align: center;
    overflow: hidden;
    background: $gray-lighter;

    .aliquot {
      width:32px;
      height:32px;
      margin-top: 2px;
      text-align: center;
      color:#fff;
      display: inline-block;
      border: 2px $gray-dark solid;
      @include border-radius(7px);
    }

    .aliquot.pending {
      color: #000;
    }

    .aliquot:hover {
      color: #FFD600;
      cursor: pointer;
      @extend .selected-aliquot;
    }

  }
}

.plate-view.plate-384 {
  padding: 5px;
  border-collapse: separate;
  font-size: 50%;

  th.first-col {
    width: 15px;
  }

  .well {
    height:18px;
    width:18px;

    .aliquot {
      width:16px;
      height:16px;
      margin-top: 1px;
      border: 1px $gray-dark solid;
      @include border-radius(3px);
    }
  }
}

@mixin labware-view {
  .green             { background-color: $brand-success; }
  .red               { background-color: $brand-danger; }
  .blue              { background-color: $brand-info; }
  .orange            { background-color: $brand-warning; }
  .unknown           { background-color: $gray; }
  .pending           {
    background: none;
  }
  .started           { background-color: $brand-info;    }
  .passed            { background-color: $brand-success; }
  .qc_complete       { background-color: $brand-primary; }
  .good              { background-color: $brand-success; } // Used on well failure page
  .failed            { background-color: $brand-danger;  }
  .cancelled         { background-color: $brand-danger;  }
  .permanent-failure { background-color: $brand-danger;  }
}

.tube-view {
  height:32px;
  width:32px;
  padding: 3px;
  text-align: center;
  overflow: hidden;
  border: 1px ridge rgba(5,19,40,0.1);
  background: $gray-lighter;
  @include border-radius(7px);
}
.substitute-tag {
  @extend .aliquot;
  @extend .colour-97;
}

.available-tag {
  @extend .aliquot;
  @extend .colour-96;
}

.selected-aliquot {
  border: 2px $gray-lightest solid;
  position: relative;
}


.plate-view, .tube-view {
  @include labware-view
}
