@mixin shade-aliquot($base_colour) {
  $dark_colour:  darken($base_colour, 60);
  @include radial-gradient(color-stops($base_colour,$dark_colour), top left); 
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 1px darken($base_colour,50);
}


/*
 * Pinched from the crayola wiki page: http://en.wikipedia.org/wiki/List_of_Crayola_crayon_colors
 * Honestly, couldn't come up with a better set of colours and ones with greater names.  All credit
 * to them!
 */
.colour-1   { @include shade-aliquot(#EFDECD); }
.colour-2   { @include shade-aliquot(#CD9575); }
.colour-3   { @include shade-aliquot(#FDD9B5); }
.colour-4   { @include shade-aliquot(#78DBE2); }
.colour-5   { @include shade-aliquot(#87A96B); }
.colour-6   { @include shade-aliquot(#FFA474); }
.colour-7   { @include shade-aliquot(#FAE7B5); }
.colour-8   { @include shade-aliquot(#9F8170); }
.colour-9   { @include shade-aliquot(#FD7C6E); }
.colour-10  { @include shade-aliquot(#ababab); }
.colour-11  { @include shade-aliquot(#ACE5EE); }
.colour-12  { @include shade-aliquot(#1F75FE); }
.colour-13  { @include shade-aliquot(#A2A2D0); }
.colour-14  { @include shade-aliquot(#6699CC); }
.colour-15  { @include shade-aliquot(#0D98BA); }
.colour-16  { @include shade-aliquot(#7366BD); }
.colour-17  { @include shade-aliquot(#DE5D83); }
.colour-18  { @include shade-aliquot(#CB4154); }
.colour-19  { @include shade-aliquot(#B4674D); }
.colour-20  { @include shade-aliquot(#FF7F49); }
.colour-21  { @include shade-aliquot(#EA7E5D); }
.colour-22  { @include shade-aliquot(#B0B7C6); }
.colour-23  { @include shade-aliquot(#FFFF99); }
.colour-24  { @include shade-aliquot(#1CD3A2); }
.colour-25  { @include shade-aliquot(#FFAACC); }
.colour-26  { @include shade-aliquot(#DD4492); }
.colour-27  { @include shade-aliquot(#1DACD6); }
.colour-28  { @include shade-aliquot(#BC5D58); }
.colour-29  { @include shade-aliquot(#DD9475); }
.colour-30  { @include shade-aliquot(#9ACEEB); }
.colour-31  { @include shade-aliquot(#FFBCD9); }
.colour-32  { @include shade-aliquot(#FDDB6D); }
.colour-33  { @include shade-aliquot(#2B6CC4); }
.colour-34  { @include shade-aliquot(#EFCDB8); }
.colour-35  { @include shade-aliquot(#6E5160); }
.colour-36  { @include shade-aliquot(#CEFF1D); }
.colour-37  { @include shade-aliquot(#71BC78); }
.colour-38  { @include shade-aliquot(#6DAE81); }
.colour-39  { @include shade-aliquot(#C364C5); }
.colour-40  { @include shade-aliquot(#CC6666); }
.colour-41  { @include shade-aliquot(#E7C697); }
.colour-42  { @include shade-aliquot(#FCD975); }
.colour-43  { @include shade-aliquot(#A8E4A0); }
.colour-44  { @include shade-aliquot(#95918C); }
.colour-45  { @include shade-aliquot(#1CAC78); }
.colour-46  { @include shade-aliquot(#1164B4); }
.colour-47  { @include shade-aliquot(#F0E891); }
.colour-48  { @include shade-aliquot(#FF1DCE); }
.colour-49  { @include shade-aliquot(#B2EC5D); }
.colour-50  { @include shade-aliquot(#5D76CB); }
.colour-51  { @include shade-aliquot(#CA3767); }
.colour-52  { @include shade-aliquot(#3BB08F); }
.colour-53  { @include shade-aliquot(#FEFE22); }
.colour-54  { @include shade-aliquot(#FCB4D5); }
.colour-55  { @include shade-aliquot(#FFF44F); }
.colour-56  { @include shade-aliquot(#FFBD88); }
.colour-57  { @include shade-aliquot(#F664AF); }
.colour-58  { @include shade-aliquot(#AAF0D1); }
.colour-59  { @include shade-aliquot(#CD4A4C); }
.colour-60  { @include shade-aliquot(#EDD19C); }
.colour-61  { @include shade-aliquot(#979AAA); }
.colour-62  { @include shade-aliquot(#FF8243); }
.colour-63  { @include shade-aliquot(#C8385A); }
.colour-64  { @include shade-aliquot(#EF98AA); }
.colour-65  { @include shade-aliquot(#FDBCB4); }
.colour-66  { @include shade-aliquot(#1A4876); }
.colour-67  { @include shade-aliquot(#30BA8F); }
.colour-68  { @include shade-aliquot(#C54B8C); }
.colour-69  { @include shade-aliquot(#1974D2); }
.colour-70  { @include shade-aliquot(#FFA343); }
.colour-71  { @include shade-aliquot(#BAB86C); }
.colour-72  { @include shade-aliquot(#FF7538); }
.colour-73  { @include shade-aliquot(#FF2B2B); }
.colour-74  { @include shade-aliquot(#F8D568); }
.colour-75  { @include shade-aliquot(#E6A8D7); }
.colour-76  { @include shade-aliquot(#414A4C); }
.colour-77  { @include shade-aliquot(#FF6E4A); }
.colour-78  { @include shade-aliquot(#1CA9C9); }
.colour-79  { @include shade-aliquot(#FFCFAB); }
.colour-80  { @include shade-aliquot(#C5D0E6); }
.colour-81  { @include shade-aliquot(#FDDDE6); }
.colour-82  { @include shade-aliquot(#158078); }
.colour-83  { @include shade-aliquot(#FC74FD); }
.colour-84  { @include shade-aliquot(#F78FA7); }
.colour-85  { @include shade-aliquot(#8E4585); }
.colour-86  { @include shade-aliquot(#7442C8); }
.colour-87  { @include shade-aliquot(#9D81BA); }
.colour-88  { @include shade-aliquot(#FE4EDA); }
.colour-89  { @include shade-aliquot(#FF496C); }
.colour-90  { @include shade-aliquot(#D68A59); }
.colour-91  { @include shade-aliquot(#714B23); }
.colour-92  { @include shade-aliquot(#FF48D0); }
.colour-93  { @include shade-aliquot(#E3256B); }
.colour-94  { @include shade-aliquot(#EE204D); }
.colour-95  { @include shade-aliquot(#FF5349); }
.colour-96  { @include shade-aliquot(#C0448F); }
.colour-97  { @include shade-aliquot(#1FCECB); }
.colour-98  { @include shade-aliquot(#7851A9); }
.colour-99  { @include shade-aliquot(#FF9BAA); }
.colour-100 { @include shade-aliquot(#FC2847); }
.colour-101 { @include shade-aliquot(#76FF7A); }
.colour-102 { @include shade-aliquot(#9FE2BF); }
.colour-103 { @include shade-aliquot(#A5694F); }
.colour-104 { @include shade-aliquot(#8A795D); }
.colour-105 { @include shade-aliquot(#45CEA2); }
.colour-106 { @include shade-aliquot(#FB7EFD); }
.colour-107 { @include shade-aliquot(#CDC5C2); }
.colour-108 { @include shade-aliquot(#80DAEB); }
.colour-109 { @include shade-aliquot(#ECEABE); }
.colour-110 { @include shade-aliquot(#FFCF48); }
.colour-111 { @include shade-aliquot(#FD5E53); }
.colour-112 { @include shade-aliquot(#FAA76C); }
.colour-113 { @include shade-aliquot(#18A7B5); }
.colour-114 { @include shade-aliquot(#EBC7DF); }
.colour-115 { @include shade-aliquot(#FC89AC); }
.colour-116 { @include shade-aliquot(#DBD7D2); }
.colour-117 { @include shade-aliquot(#17806D); }
.colour-118 { @include shade-aliquot(#DEAA88); }
.colour-119 { @include shade-aliquot(#77DDE7); }
.colour-120 { @include shade-aliquot(#FFFF66); }
.colour-121 { @include shade-aliquot(#926EAE); }
.colour-122 { @include shade-aliquot(#324AB2); }
.colour-123 { @include shade-aliquot(#F75394); }
.colour-124 { @include shade-aliquot(#FFA089); }
.colour-125 { @include shade-aliquot(#8F509D); }
.colour-126 { @include shade-aliquot(#FFFFFF); }
.colour-127 { @include shade-aliquot(#A2ADD0); }
.colour-128 { @include shade-aliquot(#FF43A4); }
.colour-129 { @include shade-aliquot(#FC6C85); }
.colour-130 { @include shade-aliquot(#CDA4DE); }
.colour-131 { @include shade-aliquot(#FCE883); }
.colour-132 { @include shade-aliquot(#C5E384); }
.colour-133 { @include shade-aliquot(#FFAE42); }

/* For reference
.colour-1 { @include radial-gradient(color-stops(#C9891C, #422A00), top left); }
.colour-2 { @include radial-gradient(color-stops(#C80C13, #420030), top left); }
.colour-3 { @include radial-gradient(color-stops(#83C81F, #284200), top left); }
.colour-4 { @include radial-gradient(color-stops(#671FC8, #1E0042), top left); }
.colour-5 { @include radial-gradient(color-stops(#1AC9B9, #00423C), top left); }
.colour-6 { @include radial-gradient(color-stops(#0D77CA, #002642), top left); }
.colour-7 { @include radial-gradient(color-stops(#C71875, #420023), top left); }
.colour-8 { @include radial-gradient(color-stops(#C93D1B, #420E00), top left); }
*/
