/*
 * Pinched from the crayola wiki page: http://en.wikipedia.org/wiki/List_of_Crayola_crayon_colors
 * Honestly, couldn't come up with a better set of colours and ones with greater names.  All credit
 * to them!
 */
.colour-1   { background: #EFDECD; }
.colour-2   { background: #CD9575; }
.colour-3   { background: #FDD9B5; }
.colour-4   { background: #78DBE2; }
.colour-5   { background: #87A96B; }
.colour-6   { background: #FFA474; }
.colour-7   { background: #FAE7B5; }
.colour-8   { background: #9F8170; }
.colour-9   { background: #FD7C6E; }
.colour-10  { background: #000000; }
.colour-11  { background: #ACE5EE; }
.colour-12  { background: #1F75FE; }
.colour-13  { background: #A2A2D0; }
.colour-14  { background: #6699CC; }
.colour-15  { background: #0D98BA; }
.colour-16  { background: #7366BD; }
.colour-17  { background: #DE5D83; }
.colour-18  { background: #CB4154; }
.colour-19  { background: #B4674D; }
.colour-20  { background: #FF7F49; }
.colour-21  { background: #EA7E5D; }
.colour-22  { background: #B0B7C6; }
.colour-23  { background: #FFFF99; }
.colour-24  { background: #1CD3A2; }
.colour-25  { background: #FFAACC; }
.colour-26  { background: #DD4492; }
.colour-27  { background: #1DACD6; }
.colour-28  { background: #BC5D58; }
.colour-29  { background: #DD9475; }
.colour-30  { background: #9ACEEB; }
.colour-31  { background: #FFBCD9; }
.colour-32  { background: #FDDB6D; }
.colour-33  { background: #2B6CC4; }
.colour-34  { background: #EFCDB8; }
.colour-35  { background: #6E5160; }
.colour-36  { background: #CEFF1D; }
.colour-37  { background: #71BC78; }
.colour-38  { background: #6DAE81; }
.colour-39  { background: #C364C5; }
.colour-40  { background: #CC6666; }
.colour-41  { background: #E7C697; }
.colour-42  { background: #FCD975; }
.colour-43  { background: #A8E4A0; }
.colour-44  { background: #95918C; }
.colour-45  { background: #1CAC78; }
.colour-46  { background: #1164B4; }
.colour-47  { background: #F0E891; }
.colour-48  { background: #FF1DCE; }
.colour-49  { background: #B2EC5D; }
.colour-50  { background: #5D76CB; }
.colour-51  { background: #CA3767; }
.colour-52  { background: #3BB08F; }
.colour-53  { background: #FEFE22; }
.colour-54  { background: #FCB4D5; }
.colour-55  { background: #FFF44F; }
.colour-56  { background: #FFBD88; }
.colour-57  { background: #F664AF; }
.colour-58  { background: #AAF0D1; }
.colour-59  { background: #CD4A4C; }
.colour-60  { background: #EDD19C; }
.colour-61  { background: #979AAA; }
.colour-62  { background: #FF8243; }
.colour-63  { background: #C8385A; }
.colour-64  { background: #EF98AA; }
.colour-65  { background: #FDBCB4; }
.colour-66  { background: #1A4876; }
.colour-67  { background: #30BA8F; }
.colour-68  { background: #C54B8C; }
.colour-69  { background: #1974D2; }
.colour-70  { background: #FFA343; }
.colour-71  { background: #BAB86C; }
.colour-72  { background: #FF7538; }
.colour-73  { background: #FF2B2B; }
.colour-74  { background: #F8D568; }
.colour-75  { background: #E6A8D7; }
.colour-76  { background: #414A4C; }
.colour-77  { background: #FF6E4A; }
.colour-78  { background: #1CA9C9; }
.colour-79  { background: #FFCFAB; }
.colour-80  { background: #C5D0E6; }
.colour-81  { background: #FDDDE6; }
.colour-82  { background: #158078; }
.colour-83  { background: #FC74FD; }
.colour-84  { background: #F78FA7; }
.colour-85  { background: #8E4585; }
.colour-86  { background: #7442C8; }
.colour-87  { background: #9D81BA; }
.colour-88  { background: #FE4EDA; }
.colour-89  { background: #FF496C; }
.colour-90  { background: #D68A59; }
.colour-91  { background: #714B23; }
.colour-92  { background: #FF48D0; }
.colour-93  { background: #E3256B; }
.colour-94  { background: #EE204D; }
.colour-95  { background: #FF5349; }
.colour-96  { background: #C0448F; }
.colour-97  { background: #1FCECB; }
.colour-98  { background: #7851A9; }
.colour-99  { background: #FF9BAA; }
.colour-100 { background: #FC2847; }
.colour-101 { background: #76FF7A; }
.colour-102 { background: #9FE2BF; }
.colour-103 { background: #A5694F; }
.colour-104 { background: #8A795D; }
.colour-105 { background: #45CEA2; }
.colour-106 { background: #FB7EFD; }
.colour-107 { background: #CDC5C2; }
.colour-108 { background: #80DAEB; }
.colour-109 { background: #ECEABE; }
.colour-110 { background: #FFCF48; }
.colour-111 { background: #FD5E53; }
.colour-112 { background: #FAA76C; }
.colour-113 { background: #18A7B5; }
.colour-114 { background: #EBC7DF; }
.colour-115 { background: #FC89AC; }
.colour-116 { background: #DBD7D2; }
.colour-117 { background: #17806D; }
.colour-118 { background: #DEAA88; }
.colour-119 { background: #77DDE7; }
.colour-120 { background: #FFFF66; }
.colour-121 { background: #926EAE; }
.colour-122 { background: #324AB2; }
.colour-123 { background: #F75394; }
.colour-124 { background: #FFA089; }
.colour-125 { background: #8F509D; }
.colour-126 { background: #FFFFFF; }
.colour-127 { background: #A2ADD0; }
.colour-128 { background: #FF43A4; }
.colour-129 { background: #FC6C85; }
.colour-130 { background: #CDA4DE; }
.colour-131 { background: #FCE883; }
.colour-132 { background: #C5E384; }
.colour-133 { background: #FFAE42; }

/* For reference
.colour-1 { @include radial-gradient(color-stops(#C9891C, #422A00), top left); }
.colour-2 { @include radial-gradient(color-stops(#C80C13, #420030), top left); }
.colour-3 { @include radial-gradient(color-stops(#83C81F, #284200), top left); }
.colour-4 { @include radial-gradient(color-stops(#671FC8, #1E0042), top left); }
.colour-5 { @include radial-gradient(color-stops(#1AC9B9, #00423C), top left); }
.colour-6 { @include radial-gradient(color-stops(#0D77CA, #002642), top left); }
.colour-7 { @include radial-gradient(color-stops(#C71875, #420023), top left); }
.colour-8 { @include radial-gradient(color-stops(#C93D1B, #420E00), top left); }
*/
