/// Compass Utils
@import "compass/css3/box-shadow";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/links";
@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "colours";


$font-size: 14px;

body {
  background:  #E3EEFC;
  font-family: 'Lucida Grande',helvetica,arial,sans-serif;
  line-height: 1.5;
  font-size:   100% * $font-size / 16px;
}

#flash {
  text-align: center;
}

.plate-view-control {
  margin: 18px 0;
}

.plate-view {
  @include box-shadow(#000 0 2px 6px);
  @include border-radius(15px);
  @include border-top-left-radius(0);
  margin: 5px;
  /* Use transparency for the background color or FF ridge will look bad... */
  border: 1px ridge rgba(11,35,75,0.5);
  vertical-align: middle;
  text-align:     center;
  background:     #003557;
  padding:        0px;
  color:          #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.plate-view tr {
/*  padding: 6px;*/
}

.plate-view th {
  padding: 0;
}

.plate-view th {
  vertical-align: middle;
  text-align:     center;
  padding:0;
  text-shadow: 0 -1px 1px darken(#003557,50);
}

.plate-view th.first-col {
  width: 15px;
}

.plate-view .well, .tube-view {
  height:27px;
  width:27px;
  padding: 3px;
  text-align:     center;
  border: 1px ridge rgba(5,19,40,0.1);
  @include background(radial-gradient(top left, #002A46, #003353));
  @include border-radius(7px);
}

.aliquot {
  @include border-radius(27px);
  width:27px;
  height:22px;
  padding: 5px 0 0 0;
  text-align: center;
  color:#fff;
  display: inline-block;
  @include box-shadow(#00192B 1px 1px 1px);
}

.aliquot:hover {
  color: #FFD600;
  cursor: pointer;
  @extend .selected-aliquot;
}

.dimmed {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition:         all 0.2s ease-in-out 0s;
  opacity: 0.2;
}

.large-insert-size {
  color: red;
  font-style: italic;
}

.substitute-tag {
  @extend .aliquot;
  @extend .colour-97;
}

.available-tag {
  @extend .aliquot;
  @extend .colour-96;
}

.selected-aliquot {
  border: 3px solid rgba(250, 235, 158, 1);
  @include box-shadow(#00060A 0 8px 8px);
  position: relative;
  top: -6px;
  left: -5px;
  width: 32px;
  height: 26px;
  padding: 6px 0 0 0;
  @include border-radius(32px);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition:         all 0.1s ease-in-out 0s;
}


@mixin labware-view {
  .green             { @include background(radial-gradient(top left, #00B10E, #002802)); }
  .red               { @include background(radial-gradient(top left, #D30000, #480000)); }
  .yellow            { @include background(radial-gradient(top left, #EBDB00, #665E00)); }
  .blue              { @include background(radial-gradient(top left, #4889C4, #0A385C)); }
  .orange            { @include background(radial-gradient(top left, #FF9443, #5B1B00)); }
  .unknown-value     { @include background(radial-gradient(top left, #289AC7, #083442)); }
  .pending           {
    @include box-shadow(none);
    background:none;
    border: 2px dotted gray;
    position: relative;
    left: -2px;
    top: -2px;
  }
  .started           { @extend .yellow;                                                  }
  .started_fx        { @extend .yellow;                                                  }
  .started_mj        { @extend .orange;                                                  }
  .fx_transfer       { @extend .orange;                                                  }
  .passed            { @extend .green;                                                   }
  .qc_complete       { @include background(radial-gradient(top left, #bbbbbb, #111111)); }
  .good              { @include background(radial-gradient(top left, #00B10E, #002802)); }
  .failed            { @include background(radial-gradient(top left, #D30000, #480000)); }
  .cancelled         { @include background(radial-gradient(top left, #D30000, #480000)); }
  .permanent-failure {
    @include background(radial-gradient(top left, #D30000, #480000));
    border: 1px gray solid;
    opacity: 0.3;

   }
}

.plate-view, .tube-view {
  @include labware-view
}

.information {
  .total { font-weight: bold; }
}

.tooltip {
  display:none;
  background:transparent url(/images/black_arrow.png);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff;
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
  padding-top:40px;
  height:65px;
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
}

/* the overlayed element */
.aliquot-details {

  /* must be initially hidden */
  display:none;

  /* place overlay on top of other elements */
  z-index:10000;

  /* styling */
  @include background(linear-gradient(#353535,#0F0F0F));

  width:600px;
  min-height:400px;
  border:3px solid #fff;
  @include border-radius(5px);
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:1px 1px 9px #000;
  -webkit-box-shadow: 1px 1px 9px #000;
}

/* close button positioned on upper right corner */
.aliquot-details .close {
  /*Replace image with jquery-ui image*/
  background-image: url(/images/close.png);
  position:         absolute;
  right:            -15px;
  top:              -15px;
  cursor:           pointer;
  height:           35px;
  width:            35px;
}

div.aliquot-details h3 {
  color:     #55D8FF;
  font-size: 15px;
}

.aliquot-details img {
  position: absolute;
  left:     15px;
  top:      65px;
}


/* styling for elements inside overlay */
.details {
  position:   absolute;
  top:        15px;
  right:      15px;
  font-size:  11px;
  color:      #fff;
  width:      400px;
  text-align: left;
}

.image h3 {
  margin:30px 10px 10px 35px;
}

table.form {
  text-align: left;
  width:  400px;
  margin: 0 0 36px 0;
}

.information {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  .label {
    font-weight: bold;

    &:after {
      content: ':';
    }
  }
}

div.wait-plate a.bed-status-scan, div.wait-plate a.bed-status-good, div.wait-plate  a.bed-status-bad {
  display: none !important;
}
div.bad-plate a.bed-status-good, div.bad-plate a.bed-status-wait, div.bad-plate a.bed-status-scan {
  display: none !important;
}
div.good-plate a.bed-status-bad, div.good-plate a.bed-status-wait, div.good-plate a.bed-status-scan {
  display: none !important;
}
div.scan-plate a.bed-status-bad, div.scan-plate a.bed-status-good, div.scan-plate a.bed-status-wait {
  display: none !important;
}

.ui-field-contain label.bed-label {
  width: 4em;
}
.robot {
  list-style-type: none;
}

.bad_bed h3, .bad_bed p {
  color: red;
  font-style: italic;
}

.instructions {
  @include border-radius(4px);
  border: 1px solid #F7C942;
  background: #FAEB9E;
  padding: 0 10px;
}

.interface {
  @include border-radius(4px);
  border: 1px solid #AAAAAA;
  background: #DDDDDD;
  padding: 10px;
  margin: 0 10px;
}

#validation_report div {
  @include border-radius(4px);
  padding: 10px;
}
#validation_report .invalid {
  border: 1px solid #FF7A7A;
  background: #FFE6E6;
}
#validation_report .valid {
  border: 1px solid #61D457;
  background: #C9FFC4;
}

#key .tube-view { display: inline-block; }

.barcode {
  font-family: 'Monaco', 'Courier new', courier, fixed;
}

.robot {
  list-style-type: none;
}

div.wait-plate a.bed-status-scan, div.wait-plate a.bed-status-good, div.wait-plate  a.bed-status-bad {
  display: none !important;
}
div.bad-plate a.bed-status-good, div.bad-plate a.bed-status-wait, div.bad-plate a.bed-status-scan {
  display: none !important;
}
div.good-plate a.bed-status-bad, div.good-plate a.bed-status-wait, div.good-plate a.bed-status-scan {
  display: none !important;
}
div.scan-plate a.bed-status-bad, div.scan-plate a.bed-status-good, div.scan-plate a.bed-status-wait {
  display: none !important;
}

.ui-field-contain label.bed-label {
  width: 3em;
}

.print_selector .ui-controlgroup-controls {width:100%;}
.print_selector .ui-controlgroup-controls .ui-select:first-child {width:80%;}
.print_selector .ui-controlgroup-controls .ui-select {width:20%;}
