// Compass Utils
@import "compass/css3/box-shadow";
@import "compass/utilities/lists/horizontal-list";
@import "compass/utilities/links";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";
@import "colours";


$font-size: 14px;

body {
  background:  #E3EEFC;
  font-family: 'Lucida Grande',helvetica,arial,sans-serif;
  line-height: 1.5;
  font-size:   100% * $font-size / 16px;
}

.plate-view-control {
  margin: 18px 0;
}

.plate-view {
  @include box-shadow(#000, 2px, 2px, 5px);
  @include border-radius(15px);
  @include border-top-left-radius(0);
  /* Use transparency for the background color or FF ridge will look bad... */
  border: 1px ridge rgba(11,35,75,0.5);
  vertical-align: middle;
  text-align:     center;
  background:     #003557;
  padding:        3px;
  color:          #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.plate-view tr {
/*  padding: 6px;*/
}

.plate-view th {
  padding: 0;
}

.plate-view th {
  vertical-align: middle;
  text-align:     center;
  padding:0;
/*  width:65px;*/
/*  height: 15px;*/
}

.plate-view th.first-col {
  width: 15px;
}

.plate-view .well, .tube-view {
  height:30px;
  width:30px;
  padding: 3px;
  text-align:     center;
  border: 1px ridge rgba(5,19,40,0.1);
  @include radial-gradient(color-stops(#002A46,#003353), top left);
  @include border-radius(7px);
}

.aliquot {
  @include border-radius(30px);
  width:30px;
  height:24px;
  padding: 6px 0 0 0;
  text-align: center;
  color:#fff;
  @include box-shadow(#00192B, 6px, 6px, 10px);
}

.aliquot:hover {
  color: #FFD600;
  @include box-shadow(#00192B, 0px, 0px, 1px);
}


@mixin labware-view {
  .green         { @include radial-gradient(color-stops(#00B10E, #002802), top left); }
  .red           { @include radial-gradient(color-stops(#D30000, #480000), top left); }
  .yellow        { @include radial-gradient(color-stops(#FFF33F, #5C5500), top left); }
  .blue          { @include radial-gradient(color-stops(#4889C4, #0A385C), top left); }
  .orange        { @include radial-gradient(color-stops(#FF9443, #5B1B00), top left); }
  .unknown-value { @include radial-gradient(color-stops(#289AC7, #083442), top left); }

  .good          { @include radial-gradient(color-stops(#00B10E, #002802), top left); }
  .failed        { @include radial-gradient(color-stops(#D30000, #480000), top left); }
}

.plate-view, .tube-view {
  @include labware-view
}

#information {
  .total { font-weight: bold; }
}

.tooltip {
  display:none;
  background:transparent url(/images/black_arrow.png);
  font-size:12px;
  height:70px;
  width:160px;
  padding:25px;
  color:#fff; 
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
  padding-top:40px;
  height:65px;
}

.tooltip.bottom {
  background:url(/images/black_arrow_bottom.png);
}

/* the overlayed element */
.aliquot-details {
  
  /* must be initially hidden */
  display:none;
  
  /* place overlay on top of other elements */
  z-index:10000;
  
  /* styling */
  @include linear-gradient(color-stops(#353535,#0F0F0F));
  
  width:600px;  
  min-height:400px;
  border:3px solid #fff;
  @include border-radius(5px);
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:1px 1px 9px #000;
  -webkit-box-shadow: 1px 1px 9px #000; 
}

/* close button positioned on upper right corner */
.aliquot-details .close {
  /*Replace image with jquery-ui image*/
  background-image: url(/images/close.png);
  position:         absolute;
  right:            -15px;
  top:              -15px;
  cursor:           pointer;
  height:           35px;
  width:            35px;
}

div.aliquot-details h3 {
  color:     #55D8FF;
  font-size: 15px;
}

.aliquot-details img {
  position: absolute;
  left:     15px;
  top:      65px;
}


/* styling for elements inside overlay */
.details {
  position:   absolute;
  top:        15px;
  right:      15px;
  font-size:  11px;
  color:      #fff;
  width:      400px;
  text-align: left;
}

.image h3 {
  margin:30px 10px 10px 35px;
}

table.form {
  text-align: left;
  width:  400px;
  margin: 0 0 36px 0;
}

#information {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  .label {
    font-weight: bold;

    &:after {
      content: ':';
    }
  }
}

/* Reasons are initially hidden and shown based on a selection */
.reason      { display: none;  }
.reason.show { display: block; }

#key .tube-view { display: inline-block; }

.barcode {
  font-family: 'Monaco', 'Courier new', courier, fixed;
}

