<div id="filter-bar">
  <input type="text" id="filter" placeholder="Filter specific pipelines or purposes" />
</div>
<div id="pipeline-graph">
  <div id="graph"></div>
  <section id="key" class="card">
    <header>
      <span id="pipelines-key-text">Pipelines Key</span>
      <span id="show-pipeline-groups" role="button" title="Show pipeline groups"></span>
      <span id="show-pipelines" class="d-none" role="button" title="Show pipelines"></span>
      <span id="pipelines-back" class="d-none" role="button" title="Show previous filter"></span>
    </header>
    <ul id='pipelines-key'>
    </ul>
  </section>
</div>
<%= javascript_pack_tag 'pipeline-graph' %>
