<div id="pipeline-graph">
  <div id="graph"></div>
  <section id="key" class="card">
    <header>Key</header>
    <ul id='pipelines-key'>
    </ul>
  </section>
</div>
<%= javascript_pack_tag 'pipeline-graph' %>

