<div id="search-bar">
  <input type="text" id="search" placeholder="Search for a pipeline or purpose" />
</div>
<div id="pipeline-graph">
  <div id="graph"></div>
  <section id="key" class="card">
    <header>Pipelines Key</header>
    <ul id='pipelines-key'>
    </ul>
  </section>
</div>
<%= javascript_pack_tag 'pipeline-graph' %>
