<%= content_for(:title, 'Coming soon') %>

<%= page(:'tube-rack-show-page', :'show-page') do %>
  <%= content do %>
    <h1>We're not quite ready yet...<h1>
    <p class="lead">
      Tube rack support is coming, but we don't quite have anything to show you yet.
      Please try scanning in a plate or a tube instead.
    </p>
  <% end %>
<% end %>
