<h2>Plate Status - <%= presenter.plate.state.titleize %></h2>
<%= render :partial => "plate", :locals => {:plate_presenter => presenter}  %>
<%= render :partial => 'plate_information', :locals => { :plate => presenter.plate } %>
