---
concentrations_ngul:
  csv: concentrations_ngul
  plate_includes: wells.qc_results
concentrations_nm:
  csv: concentrations_nm
  plate_includes: wells.qc_results
duplex_seq_al_lib_concentrations_for_customer:
  csv: duplex_seq_al_lib_concentrations_for_customer
  plate_includes: wells.qc_results,wells.aliquots.sample.sample_metadata
duplex_seq_pcr_xp_concentrations_for_custom_pooling:
  csv: duplex_seq_pcr_xp_concentrations_for_custom_pooling
  plate_includes: wells.qc_results
  ancestor_purpose: LDS AL Lib Dil
targeted_nanoseq_al_lib_concentrations_for_customer:
  csv: targeted_nanoseq_al_lib_concentrations_for_customer
  plate_includes: wells.qc_results,wells.aliquots.sample.sample_metadata
targeted_nanoseq_pcr_xp_concentrations_for_custom_pooling:
  csv: targeted_nanoseq_pcr_xp_concentrations_for_custom_pooling
  plate_includes: wells.qc_results
  ancestor_purpose: LTN AL Lib Dil
hamilton_aggregate_cherrypick:
  csv: hamilton_aggregate_cherrypick
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_cherrypick_to_sample_dilution:
  csv: hamilton_fixed_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_gex_dil_to_gex_frag_2xp:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X Post Repair Double SPRI
hamilton_gex_frag_2xp_to_gex_ligxp:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X Post Ligation Single SPRI
hamilton_cherrypick_to_5p_gex_dilution:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_cherrypick_to_bcr_dilution1:
  csv: hamilton_cherrypick_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lbc_bcr_dil_1_to_lbc_bcr_enrich1_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lbc_bcr_enrich1_2xspri_to_lbc_bcr_enrich2_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 2 Double SPRI
hamilton_lbc_bcr_enrich2_2xspri_to_lbc_bcr_dil_2:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lbc_bcr_dil_2_to_lbc_bcr_post_lig_1xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Ligation SPRI
hamilton_cherrypick_to_tcr_dilution1:
  csv: hamilton_cherrypick_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lbc_tcr_dil_1_to_lbc_tcr_enrich1_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lbc_tcr_enrich1_2xspri_to_lbc_tcr_enrich2_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 2 Double SPRI
hamilton_lbc_tcr_enrich2_2xspri_to_lbc_tcr_dil_2:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lbc_tcr_dil_2_to_lbc_tcr_post_lig_1xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Ligation SPRI
hamilton_lds_al_lib_to_qc1:
  csv: hamilton_plate_stamp_to_qc
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lds_al_lib_to_lds_al_lib_dil:
  csv: hamilton_variable_volume_dilutions_with_well_diluents
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_ltn_al_lib_to_qc1:
  csv: hamilton_plate_stamp_to_qc
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_ltn_al_lib_to_ltn_al_lib_dil:
  csv: hamilton_variable_volume_dilutions_with_well_diluents
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
cellaca_input_file:
  csv: cellaca_input_file
  filename:
    include_barcode: true
    include_page: true
hamilton_pooling_plate_pbmc:
  csv: hamilton_pooling_plate_pbmc
  ancestor_purpose: LCA PBMC
  plate_includes:
    - wells.qc_results
    - wells.transfer_requests_as_target.source_asset
cardinal_tagging_csv_for_custom_pooling:
  csv: cardinal_tagging_csv_for_custom_pooling
  plate_includes:
    - wells.aliquots.sample.component_samples
cardinal_sample_arraying_tube_layout:
  csv: cardinal_sample_arraying_tube_layout
  plate_includes:
    - wells.upstream_tubes
hamilton_lca_pbmc_bank_to_lca_bank_stock:
  csv: hamilton_lca_pbmc_bank_to_lca_bank_stock
  workflow: Cardinal Cell Banking Pooling
  plate_includes:
    - wells.downstream_tubes
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
  ancestor_tube_purpose: LCA Blood Vac
bioscan_mbrave:
  csv: 'exports/bioscan_mbrave'
  tube_includes: transfer_requests_as_target.source_asset,aliquots,aliquots.tag.tag_group,aliquots.tag2.tag_group,aliquots.sample.sample_metadata
  tube_selects:
    aliquot:
      - tag_index
      - tag2_index
    sample_metadata:
      - supplier_name
      - cohort
      - sample_description
  file_extension: 'tsv'
  filename:
    include_barcode: true
