---
concentrations_ngul:
  csv: concentrations_ngul
  plate_includes: wells.qc_results
tube_rack_concentrations_ngul:
  csv: tube_rack_concentrations_ngul
  tube_rack_includes: racked_tubes.tube.receptacle.qc_results
concentrations_nm:
  csv: concentrations_nm
  plate_includes: wells.qc_results
tube_rack_concentrations_nm:
  csv: tube_rack_concentrations_nm
  tube_rack_includes: racked_tubes.tube.receptacle.qc_results
duplex_seq_al_lib_concentrations_for_customer:
  csv: duplex_seq_al_lib_concentrations_for_customer
  plate_includes: wells.qc_results,wells.aliquots.sample.sample_metadata
duplex_seq_pcr_xp_concentrations_for_custom_pooling:
  csv: duplex_seq_pcr_xp_concentrations_for_custom_pooling
  plate_includes: wells.qc_results
  ancestor_purpose: LDS AL Lib Dil
targeted_nanoseq_al_lib_concentrations_for_customer:
  csv: targeted_nanoseq_al_lib_concentrations_for_customer
  plate_includes: wells.qc_results,wells.aliquots.sample.sample_metadata
targeted_nanoseq_pcr_xp_merged_file:
  csv: targeted_nanoseq_pcr_xp_merged_file
  plate_includes: wells.qc_results,wells.aliquots.sample.sample_metadata,wells.aliquots.request.poly_metadata
  ancestor_purpose: LTN AL Lib Dil
hamilton_aggregate_cherrypick:
  csv: hamilton_aggregate_cherrypick
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_cherrypick_to_sample_dilution:
  csv: hamilton_fixed_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_gex_dil_to_gex_frag_2xp:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X Post Repair Double SPRI
hamilton_gex_frag_2xp_to_gex_ligxp:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X Post Ligation Single SPRI
hamilton_cherrypick_to_5p_gex_dilution:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_cherrypick_to_bcr_dilution1:
  csv: hamilton_cherrypick_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lbc_bcr_dil_1_to_lbc_bcr_enrich1_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lbc_bcr_enrich1_2xspri_to_lbc_bcr_enrich2_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 2 Double SPRI
hamilton_lbc_bcr_enrich2_2xspri_to_lbc_bcr_dil_2:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lbc_bcr_dil_2_to_lbc_bcr_post_lig_1xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Ligation SPRI
hamilton_cherrypick_to_tcr_dilution1:
  csv: hamilton_cherrypick_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lbc_tcr_dil_1_to_lbc_tcr_enrich1_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lbc_tcr_enrich1_2xspri_to_lbc_tcr_enrich2_2xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 2 Double SPRI
hamilton_lbc_tcr_enrich2_2xspri_to_lbc_tcr_dil_2:
  csv: hamilton_variable_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lbc_tcr_dil_2_to_lbc_tcr_post_lig_1xspri:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Ligation SPRI
hamilton_lds_al_lib_to_qc1:
  csv: hamilton_plate_stamp_to_qc
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_lds_al_lib_to_lds_al_lib_dil:
  csv: hamilton_variable_volume_dilutions_with_well_diluents
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_ltn_al_lib_to_qc1:
  csv: hamilton_plate_stamp_to_qc
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Cherry Pick
hamilton_ltn_al_lib_to_ltn_al_lib_dil:
  csv: hamilton_variable_volume_dilutions_with_request_diluents
  plate_includes: wells.transfer_requests_as_target.source_asset,wells.aliquots.request.poly_metadata
  workflow: Sample Dilution
cellaca_input_file:
  csv: cellaca_input_file
  filename:
    labware_barcode:
      append: true
    include_page: true
hamilton_pooling_plate_pbmc:
  csv: hamilton_pooling_plate_pbmc
  ancestor_purpose: LCA PBMC
  plate_includes:
    - wells.qc_results
    - wells.transfer_requests_as_target.source_asset
cardinal_tagging_csv_for_custom_pooling:
  csv: cardinal_tagging_csv_for_custom_pooling
  plate_includes:
    - wells.aliquots.sample.component_samples
cardinal_sample_arraying_tube_layout:
  csv: cardinal_sample_arraying_tube_layout
  plate_includes:
    - wells.upstream_tubes
hamilton_lca_pbmc_bank_to_lca_bank_stock:
  csv: hamilton_lca_pbmc_bank_to_lca_bank_stock
  workflow: Cardinal Cell Banking Pooling
  plate_includes:
    - wells.downstream_tubes
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
  ancestor_tube_purpose: LCA Blood Vac
bioscan_mbrave:
  csv: 'exports/bioscan_mbrave'
  tube_includes: transfer_requests_as_target.source_asset,receptacle.aliquots,receptacle.aliquots.tag.tag_group,receptacle.aliquots.tag2.tag_group,receptacle.aliquots.sample.sample_metadata
  tube_selects:
    aliquot:
      - tag_index
      - tag2_index
    sample_metadata:
      - supplier_name
      - cohort
      - sample_description
  file_extension: 'tsv'
  filename:
    labware_barcode:
      append: true
lcmb_pcr_xp_concentrations_for_custom_pooling:
  csv: lcmb_pcr_xp_concentrations_for_custom_pooling
  plate_includes: wells.qc_results,wells.aliquots,wells.aliquots.sample
  ancestor_purpose: LCMB Cherrypick
scrna_core_cell_extraction_sample_arraying_tube_layout:
  csv: scrna_core_cell_extraction_sample_arraying_tube_layout
  plate_includes:
    - wells.upstream_tubes
hamilton_lrc_pbmc_bank_to_lrc_bank_seq_and_spare:
  csv: hamilton_lrc_pbmc_bank_to_lrc_bank_seq_and_spare
  workflow: scRNA Core PBMC Bank
  tube_rack_includes: racked_tubes.tube
  ancestor_tube_purpose: LRC Blood Vac
  filename:
    name: hamilton_pbmc_bank
    labware_barcode:
      prepend: true
hamilton_lrc_blood_bank_to_lrc_pbmc_bank:
  csv: hamilton_lrc_blood_bank_to_lrc_pbmc_bank
  workflow: scRNA Core PBMC isolation
  plate_includes:
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
    - wells.transfer_requests_as_target.source_asset
  ancestor_tube_purpose: LRC Blood Vac
  ancestor_purpose: LRC Blood Bank
  filename:
    name: hamilton_pbmc_isolation
    labware_barcode:
      prepend: true
pbmc_bank_tubes_content_report:
  csv: pbmc_bank_tubes_content_report
  workflow: scRNA Core PBMC Bank
  plate_includes:
    - wells.downstream_tubes
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
  ancestor_tube_purpose: LRC Blood Vac
rvi_pcr_xp_concentrations_for_custom_pooling:
  csv: rvi_pcr_xp_concentrations_for_custom_pooling
  plate_includes: wells.qc_results,wells.aliquots,wells.aliquots.sample
  ancestor_purpose: RVI Cherrypick
hamilton_lrc_pbmc_defrost_pbs_to_lrc_pbmc_pools:
  csv: hamilton_lrc_pbmc_defrost_pbs_to_lrc_pbmc_pools
  workflow: scRNA Core Donor Pooling
  plate_includes:
    - wells.qc_results
    - wells.transfer_requests_as_target.source_asset
    - wells.aliquots.study.poly_metadata
  ancestor_purpose: LRC PBMC Defrost PBS
hamilton_lrc_gem_x_5p_cherrypick_to_lrc_gem_x_5p_ge_dil:
  csv: hamilton_fixed_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lrc_pbmc_defrost_pbs_to_cellaca_count:
  csv: hamilton_lrc_pbmc_defrost_pbs_to_cellaca_count
  workflow: scRNA Core LRC PBMC Defrost PBS Cell Count
  plate_includes:
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
  filename:
    labware_barcode:
      prepend: true
hamilton_lrc_pbmc_pools_to_cellaca_count:
  csv: hamilton_lrc_pbmc_pools_to_cellaca_count
  workflow: scRNA Core LRC PBMC Pools Cell Count
  plate_includes:
    - wells.aliquots
  filename:
    labware_barcode:
      prepend: true
hamilton_lrc_pbmc_bank_to_cellaca_common: &hamilton_lrc_pbmc_bank_to_cellaca_common
  workflow: scRNA Core LRC PBMC Bank Cell Count
  plate_includes:
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
hamilton_lrc_pbmc_bank_to_cellaca_first_count:
  <<: *hamilton_lrc_pbmc_bank_to_cellaca_common
  csv: hamilton_lrc_pbmc_bank_to_cellaca_first_count
  filename:
    labware_barcode:
      prepend: true
hamilton_lrc_pbmc_bank_to_cellaca_second_count:
  <<: *hamilton_lrc_pbmc_bank_to_cellaca_common
  csv: hamilton_lrc_pbmc_bank_to_cellaca_second_count
  filename:
    labware_barcode:
      prepend: true
hamilton_gem_x_5p_chip_loading:
  csv: hamilton_gem_x_5p_chip_loading
  workflow: scRNA Core GEM-X 5p Chip Loading
  plate_includes:
    - wells.aliquots
    - wells.aliquots.sample
    - wells.aliquots.sample.sample_metadata
    - wells.transfer_requests_as_target.source_asset
  filename:
    parent_labware_barcode:
      prepend: true
  ancestor_purpose:
    - LRC PBMC Pools
    - LRC GEM-X 5p GEMs Input
    - LRC GEM-X 5p GEMs Input CITE
hamilton_lrc_gemx_5p_bcr_dil_1_to_lrc_gemx_5p_bcr_enrich1:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lrc_gemx_5p_bcr_enrich1_to_lrc_gemx_5p_bcr_enrich2:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X GEM-X 5' VDJ Post Target Enrichment 2 Double SPRI
hamilton_lrc_gemx_5p_bcr_enrich2_to_lrc_gemx_5p_bcr_dil_2:
  csv: hamilton_fixed_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lrc_gemx_5p_bcr_dil_2_to_lrc_gemx_5p_bcr_post_lig:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X GEM-X 5' VDJ Post Ligation SPRI
hamilton_lrc_gemx_5p_tcr_dil_1_to_lrc_gemx_5p_tcr_enrich1:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X VDJ Post Target Enrichment 1 Double SPRI
hamilton_lrc_gemx_5p_tcr_enrich1_to_lrc_gemx_5p_tcr_enrich2:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X GEM-X 5' VDJ Post Target Enrichment 2 Double SPRI
hamilton_lrc_gemx_5p_tcr_enrich2_to_lrc_gemx_5p_tcr_dil_2:
  csv: hamilton_fixed_volume_dilutions
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: Sample Dilution
hamilton_lrc_gemx_5p_tcr_dil_2_to_lrc_gemx_5p_tcr_post_lig:
  csv: hamilton_plate_stamp
  plate_includes: wells.transfer_requests_as_target.source_asset
  workflow: 10X GEM-X 5' VDJ Post Ligation SPRI
kinnex_prep_plate_export:
  csv: kinnex_prep_plate_export
  plate_includes: wells.downstream_tubes
ultima_rebalancing:
  csv: 'exports/ultima_rebalancing'
  tube_includes: receptacle.aliquots.poly_metadata
  filename:
    handler: UltimaRebalancing
