<div class="tube">
  <div class="tube-view">
    <% unless tube.aliquots.empty? -%>
      <%= render :partial => 'lab_ware/aliquot', :locals => { :lab_ware => tube, :id => 'tube', :container => tube } %>
    <% end -%>
  </div>

  <ul id="information">
    <li><span class="label">Barcode</span>       <%= useful_barcode(tube.barcode) %></li>
    <li><span class="label">Current state</span> <%= tube.state %></li>
  </ul>
</div>
