<div id="labware-summary-div">
  <%= render partial: "tube_rack", locals: { tube_rack_presenter: presenter }  %>
</div>

<nav id="plate-view-control" class="card-header">
  <ul class="nav nav-tabs card-header-tabs float-xs-left" role="tablist">
  </ul>
</nav>

<div class="tab-content">
</div>
