<div id='validate-paired-tubes'
     data-sequencescape-api="<%= Limber::Application.config.api.v2.connection_options.url %>"
     data-purpose-config-json="<%= Settings.purposes.to_json %>"
     >
  <div class="spinner-dark">Loading...</div>
</div>
