/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */


/// Compass Utils
@import "limber_print/print-colours";

@page {size: A4 landscape; }
// Hide from printing
#labware-well-failing { display: none; }
.limber-header { display: none; }
.state-badge { display: none; }
.asset-warnings { display: none; }
// Hide most tabs by default
.tab-pane { display: none }
// But show the pooling information
#pooling_tab {
  display: inline;
  margin-top: 1em;

  #pools-information {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    padding: 0;

    li {
      .pool_name {
        display: block;
        padding: 0.5em;
        .well-count {
          float: right;

        }
      }
      border: 1px solid black;
    }
  }
}
/* Hide all the interactive stuff */
button, .instructions, #plate-view-control, .ui-loader, #labware-summary h2, .content-secondary, .spinner-dark, .spinner, .version-info, .static-top {
  display: none;
}

.plate-view {
  border: 1px solid black;
  border-collapse: collapse;

  th {
    padding: 5px;
  }

  td {
    padding: 0;
    border:1px solid black;
  }
}

.aliquot {
  padding: 1px;
  /* Tell chrome to render backgrounds. This isn't actually
   * required, as we also use a drop-shadow to force Mozilla
   * browsers to also colour prints. But it adds a layer of
   * robustness if webkit/blink goes the way of IE and stops
   * rendering drop-shadows on printouts */
  -webkit-print-color-adjust: exact;
}

ul {
  list-style: none;
}

body {
  font-family: serif;
}

dl.descriptive-list-inline {
  dt {
    display: inline;
    margin-right: 0.5em;
    font-weight: 600;
  }
  dd {
    display: inline;
    margin-right: 1em;
    margin-left: 0;
  }
}

.metadata {
  margin: 0.5em;
  dt { float: left; clear: left }
  dd {  float: right; }
}
