<h2>Source Plate</h2>
<%= render :partial => "pooled_plate", :locals => {:plate_presenter => presenter, :walker => presenter.walk_source, :transfers => presenter.labware.creation_transfer.transfers} %>
<br/>

<h2>Pooled Plate</h2>
<% transfers = Hash[presenter.labware.creation_transfer.transfers.map { |_, location| [ location, location ] }] %>
<%= render :partial => "pooled_plate", :locals => {:plate_presenter => presenter, :walker => presenter.walk_destination, :transfers => transfers} %>
<%= render :partial => 'plate_information', :locals => { :plate => presenter.labware } %>
