<div id="flashes">
  <% flash.each do |name, message| %>
    <div class="flash flash-<%= name %>">
      <h3><%= name.titleize %></h3>
      <ul><% Array(message).each do |m| %><li><%= m %> <% end %></li></ul>
    </div>
  <% end %>
</div>
