<footer class='version-info'>
<div class='container'><%= DeployedVersion::VERSION_STRING %> <%= DeployedVersion::RELEASE_NAME %> <%= link_to DeployedVersion::VERSION_COMMIT, DeployedVersion::REPO_URL %> <%= DeployedVersion::HOSTNAME %></div>
</footer>
