<footer class='version-info'>
<div class='container'><%= Deployed::VERSION_STRING %> <%= Deployed::RELEASE_NAME %> <%= link_to Deployed::VERSION_COMMIT, Deployed::REPO_URL %> <%= Deployed::HOSTNAME %></div>
</footer>
