<!DOCTYPE html>
<html>
  <head>
    <title>Sequencescape - Pulldown Pipeline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <%= stylesheet_link_tag "jquery-mobile", "formtastic", "screen" %>
  
    <%= javascript_include_tag 'jquery', 'underscore', 'jquery.mobile', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


